<div id="cart" class="header-cart">
  <a href="<?php echo $checkout; ?>">
      <i class="icon-i-cart"><span><?php echo $text_itemss; ?></span></i>
      <div id="cart-total"><?php echo $text_items; ?></div>
  </a>
</div>
