<?php echo $header; ?>
<div class="container-fluid">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php //echo $class; ?>">
    <?php echo $content_top; ?>
        <hr class="hr-home">
    <?php echo $brands; ?>
    <?php echo $manufacturers; ?>
    <?php echo $about_home; ?>

    </div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $content_bottom; ?>
<?php echo $buying_easy; ?>
<?php echo $footer; ?>
