@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s42p0l');
  src:  url('fonts/icomoon.eot?s42p0l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s42p0l') format('truetype'),
    url('fonts/icomoon.woff?s42p0l') format('woff'),
    url('fonts/icomoon.svg?s42p0l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\e92e";
  color: #29508b;
}
.icon-x:before {
  content: "\e92d";
  color: #a3a3a3;
}
.icon-i-insta:before {
  content: "\e92b";
  color: #29508b;
}
.icon-i-vk:before {
  content: "\e92c";
  color: #29508b;
}
.icon-i-home:before {
  content: "\e929";
  color: #5a5a5a;
}
.icon-drop-down-copy-3:before {
  content: "\e92a";
}
.icon-left-arr:before {
  content: "\e923";
  color: #5a5a5a;
}
.icon-right-arr:before {
  content: "\e924";
  color: #5a5a5a;
}
.icon-i-bank:before {
  content: "\e920";
  color: #29508b;
}
.icon-i-delivery1:before {
  content: "\e921";
  color: #29508b;
}
.icon-i-card:before {
  content: "\e922";
  color: #29508b;
}
.icon-i-phone:before {
  content: "\e908";
  color: #eb2d39;
}
.icon-i-mts:before {
  content: "\e91e";
  color: #db2210;
}
.icon-i-ks:before {
  content: "\e91f";
  color: #009eff;
}
.icon-i-map:before {
  content: "\e91c";
}
.icon-i-lifecell:before {
  content: "\e91d";
  color: #ffcb08;
}
.icon-drop-down:before {
  content: "\e900";
  color: #fff;
}
.icon-i-delivery:before {
  content: "\e901";
  color: #29508b;
}
.icon-i-search:before {
  content: "\e902";
  color: #29508b;
}
.icon-i-select:before {
  content: "\e903";
  color: #29508b;
}
.icon-i-water:before {
  content: "\e904";
  color: #29508b;
}
.icon-i-batch:before {
  content: "\e905";
  color: #29508b;
}
.icon-invalid-name:before {
  content: "\e906";
  color: #29508b;
}
.icon-i-toilet:before {
  content: "\e907";
  color: #29508b;
}
.icon-i-fire:before {
  content: "\e909";
  color: #29508b;
}
.icon-i-radiator:before {
  content: "\e90a";
  color: #29508b;
}
.icon-i-drop:before {
  content: "\e90b";
  color: #29508b;
}
.icon-i-clock:before {
  content: "\e90c";
}
.icon-i-mail:before {
  content: "\e90d";
}
.icon-i-yt:before {
  content: "\e90e";
  color: #29508b;
}
.icon-i-tw:before {
  content: "\e90f";
  color: #29508b;
}
.icon-i-t:before {
  content: "\e910";
  color: #29508b;
}
.icon-i-fb:before {
  content: "\e911";
  color: #29508b;
}
.icon-right-chevron-1:before {
  content: "\e912";
  color: #5a5a5a;
}
.icon-group-copy:before {
  content: "\e913";
  color: #fff;
}
.icon-quotation-mark-copy:before {
  content: "\e914";
}
.icon-quotation-mark:before {
  content: "\e915";
}
.icon-i-scale:before {
  content: "\e916";
  color: #29508b;
}
.icon-arrow-prev:before {
  content: "\e917";
}
.icon-arrow-next:before {
  content: "\e918";
}
.icon-i-glass:before {
  content: "\e919";
  color: #29508b;
}
.icon-i-cart:before {
  content: "\e91a";
}
.icon-i-heart:before {
  content: "\e91b";
  color: #29508b;
}
.icon-i-share:before {
  content: "\e925";
  color: #a3a3a3;
}
.icon-star-gold:before {
  content: "\e926";
  color: #c2a773;
}
.icon-star-grey:before {
  content: "\e927";
  color: #f2f2f2;
}
.icon-checkmark:before {
  content: "\e928";
}
