<div class="about_home">
    <div class="container">
        <div class="about_home-title">
            О нас
        </div>
        <div class="about_home-text">
            <h1>
            In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.<br>

            Nam vel iaculis mauris. Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum<br>
            nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.<br><br>
            Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
            </h1>
        </div>
        <a href="/about_us">Подробнее</a>
    </div>
</div>