* {
  outline: 0 !important; }

a, img {
  outline: none; }

*:focus, *:active {
  box-shadow: none !important;
  outline: none; }

.news-article h1, .news-ncategory h1 {
  font-size: 28px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
  position: relative;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 46px;
  margin-top: 0; }
  .news-article h1::after, .news-ncategory h1::after {
    content: '';
    width: 225px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -13px;
    height: 11px;
    background-image: url(../image/hl-draw.png); }

h3, .information-information h1 {
  font-size: 28px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
  position: relative;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 46px;
  margin-top: 0; }
  h3::after, .information-information h1::after {
    content: '';
    width: 225px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -13px;
    height: 11px;
    background-image: url(../image/hl-draw.png); }

.top_bar {
  height: 28px;
  background-color: #5a5a5a; }
  .top_bar-list {
    list-style: none;
    padding-left: 0; }
    .top_bar-list-btn {
      display: none; }
    .top_bar-list li {
      display: inline-block;
      position: relative;
      padding: 0 10px; }
      .top_bar-list li:first-child {
        margin-left: 0; }
      .top_bar-list li:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -2px;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background-color: #fff; }
      .top_bar-list li:last-child:after {
        display: none; }
      .top_bar-list li a {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        line-height: 28px; }
        .top_bar-list li a:hover {
          text-decoration: underline; }
      .top_bar-list li.active {
        background-color: #3d3d3d; }
  .top_bar-logout {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-align: right;
    line-height: 28px; }
    .top_bar-logout a {
      color: #fff;
      cursor: pointer; }

.header {
  padding-top: 16px;
  padding-bottom: 26px; }
  .header-work_time {
    margin-top: 8px;
    padding-left: 25px;
    font-size: 13px;
    line-height: 1.31;
    color: #000000;
    position: relative; }
    .header-work_time i {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 16px; }
  .header #search {
    position: relative;
    margin-top: 8px;
    width: 100%; }
    .header #search input {
      height: 36px;
      border-radius: 4px;
      border: solid 1px #c2a773; }
      .header #search input:active, .header #search input:focus {
        border: solid 2px #c2a773; }
    .header #search button {
      position: absolute;
      font-size: 19px;
      z-index: 2;
      padding: 0 10px;
      height: 36px;
      right: 0;
      background-color: transparent;
      border: 0; }
  .header-email {
    font-size: 13px;
    display: flex;
    align-items: center; }
    .header-email i {
      font-size: 13px;
      margin-right: 8px; }
    .header-email a {
      color: #000000; }
  .header-phone {
    margin-top: 8px;
    padding-left: 30px;
    display: flex;
    flex-direction: column; }
    .header-phone a {
      font-size: 13px;
      line-height: 1.31;
      color: #000000;
      position: relative; }
      .header-phone a i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -29px;
        font-size: 15px; }
    .header-phone-main {
      font-weight: bold; }
  .header-wish {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .header-wish a {
      font-size: 9px;
      line-height: 1.89;
      color: #29508b;
      display: flex;
      align-items: center;
      transition: color .3s ease; }
      .header-wish a i {
        margin-right: 5px; }
        .header-wish a i:before {
          transition: color .3s ease; }
      .header-wish a .icon-i-scale {
        font-size: 11px; }
      .header-wish a .icon-i-heart {
        font-size: 13px; }
      .header-wish a:hover {
        color: #c2a773; }
        .header-wish a:hover i:before {
          color: #c2a773; }
  .header-cart {
    margin-top: 8px; }
    .header-cart a {
      padding-left: 42px;
      width: 100%;
      height: 48px;
      background-color: #c2a773;
      color: #000000;
      text-align: left;
      border: 2px solid #c2a773;
      margin-bottom: 11px;
      font-size: 13px;
      line-height: 1.31;
      position: relative;
      display: flex;
      align-items: center;
      transition: background-color .3s ease; }
      .header-cart a i {
        position: absolute;
        left: 10px;
        font-size: 20px;
        top: 50%;
        transform: translateY(-50%); }
        .header-cart a i span {
          position: absolute;
          font-size: 8px;
          border-radius: 50%;
          font-family: 'Open Sans', sans-serif;
          width: 12px;
          height: 12px;
          line-height: 11px;
          text-align: center;
          top: -4px;
          right: -4px;
          background-color: #fff;
          font-weight: bold; }
      .header-cart a p {
        font-weight: bold;
        display: block;
        margin-bottom: 0; }
      .header-cart a:hover {
        background-color: #fff; }

.categories_menu {
  background-color: #29508b;
  margin-bottom: 4px; }
  .categories_menu-btn {
    display: none; }
  .categories_menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    list-style: none;
    height: 46px;
    position: relative;
    margin-bottom: 0; }
    .categories_menu-list:after {
      content: '';
      width: 4px;
      background-color: #fff;
      height: 100%;
      position: absolute;
      top: 0;
      right: -2px; }
    .categories_menu-list:before {
      content: '';
      width: 4px;
      background-color: #fff;
      height: 100%;
      position: absolute;
      top: 0;
      left: -2px; }
    .categories_menu-list li {
      width: 14.28571428%;
      position: relative;
      height: 100%;
      transition: background-color .3s ease; }
      .categories_menu-list li:hover {
        background-color: #214170; }
      .categories_menu-list li.dropdown.open {
        background-color: #214170; }
      .categories_menu-list li .dropdown-menu {
        width: max-content;
        padding: 0;
        box-shadow: none !important;
        border: 0; }
        .categories_menu-list li .dropdown-menu .see-all {
          display: none !important; }
      .categories_menu-list li .list-unstyled li {
        width: 100%;
        background-color: #214170;
        border-bottom: 1px solid #fff; }
        .categories_menu-list li .list-unstyled li:last-child {
          border-bottom: 0; }
        .categories_menu-list li .list-unstyled li:after {
          display: none; }
        .categories_menu-list li .list-unstyled li a:hover {
          background-color: #c2a773;
          background-image: none; }
      .categories_menu-list li:after {
        z-index: 2;
        content: '';
        width: 4px;
        background-color: #fff;
        height: 100%;
        position: absolute;
        top: 0;
        right: -2px; }
      .categories_menu-list li:last-child:after {
        display: none; }
      .categories_menu-list li a {
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        padding: 10px;
        line-height: 14px;
        position: relative;
        transition: background-color .3s ease; }
        .categories_menu-list li a i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
          font-size: 5px; }

.footer {
  padding: 35px 0 29px;
  background-image: url(../image/bg-blur.png);
  background-size: cover; }
  .footer-logo img {
    width: 165px;
    margin-bottom: 16px; }
  .footer-info p {
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
    margin-bottom: 13px; }
  .footer-phone {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 21px; }
    .footer-phone a {
      font-size: 13px;
      line-height: 1.31;
      color: #000000;
      position: relative; }
      .footer-phone a i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -29px;
        font-size: 15px; }
    .footer-phone-main {
      font-weight: bold; }
  .footer-social {
    font-size: 30px;
    display: flex;
    flex-direction: row; }
    .footer-social a {
      margin-right: 15px;
      text-decoration: none; }
      .footer-social a:before {
        transition: color .3s ease; }
      .footer-social a:hover:before {
        color: #214170; }
  .footer h5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    line-height: 1;
    letter-spacing: 2px;
    color: #29508b;
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 21px;
    text-transform: uppercase; }
    .footer h5:after {
      content: '';
      width: 62px;
      height: 2px;
      background-color: #c2a773;
      position: absolute;
      bottom: 0px;
      left: 0; }
  .footer ul li {
    font-size: 14px;
    line-height: 2.14; }
    .footer ul li a {
      color: #000000; }
      .footer ul li a:hover {
        text-decoration: underline; }

.copyright {
  background-color: #5a5a5a; }
  .copyright .containers {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px; }
  .copyright p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.23;
    color: #999999; }
    .copyright p a {
      text-transform: uppercase;
      color: #999999; }
  .copyright i {
    float: right;
    font-size: 20px; }

.product-layout .product-thumb {
  border: solid 1px #f2f2f2;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column; }
  .product-layout .product-thumb .image a {
    height: 162px; }
    .product-layout .product-thumb .image a img {
      height: 100%; }
  .product-layout .product-thumb h4 {
    margin-bottom: 5px; }
    .product-layout .product-thumb h4 a {
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.3px;
      color: #000000;
      height: 35px;
      display: block; }
  .product-layout .product-thumb .price {
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #000000; }
    .product-layout .product-thumb .price .price-new {
      color: #29508b;
      font-weight: bold; }
  .product-layout .product-thumb .button-groups {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .product-layout .product-thumb .dop-prod {
    text-align: center;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    padding: 0;
    border: solid 1px #dfdfdf;
    background-color: #fff;
    line-height: 43px;
    transition: all .3s ease; }
    .product-layout .product-thumb .dop-prod i:before {
      color: #a3a3a3;
      transition: color .3s ease; }
    .product-layout .product-thumb .dop-prod .fa {
      font-size: 20px; }
    .product-layout .product-thumb .dop-prod .icon-i-heart {
      font-size: 16px; }
    .product-layout .product-thumb .dop-prod .icon-i-scale {
      font-size: 15px; }
    .product-layout .product-thumb .dop-prod:hover {
      border-color: #29508b;
      background-color: #29508b; }
      .product-layout .product-thumb .dop-prod:hover i:before {
        color: #fff; }
  .product-layout .product-thumb .cart {
    border: 2px solid #c2a773;
    text-transform: uppercase;
    width: 131px;
    height: 42px;
    border-radius: 4px;
    background-color: #c2a773;
    color: #fff;
    padding-left: 41px;
    text-align: left;
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all .3s ease;
    color: #ffffff; }
    .product-layout .product-thumb .cart i {
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 13px;
      transform: translateY(-50%); }
    .product-layout .product-thumb .cart:hover {
      background-color: #fff;
      color: #000; }

h3 br {
  display: none; }

.featured-slider {
  margin: 0 -15px;
  position: relative; }
  .featured-slider .slick-slide {
    margin: 0 15px; }
  .featured-slider .featured-prev {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: -78px;
    right: 53px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease; }
    .featured-slider .featured-prev:before {
      transition: color .3s ease; }
    .featured-slider .featured-prev:hover {
      background-color: #000;
      border-color: #000; }
      .featured-slider .featured-prev:hover:before {
        color: #fff; }
  .featured-slider .featured-next {
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 32px;
    font-size: 18px;
    color: #000000;
    top: -78px;
    right: 13px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease; }
    .featured-slider .featured-next:before {
      transition: color .3s ease; }
    .featured-slider .featured-next:hover {
      background-color: #000;
      border-color: #000; }
      .featured-slider .featured-next:hover:before {
        color: #fff; }

.bestseller-slider {
  margin: 0 -15px;
  position: relative; }
  .bestseller-slider .slick-slide {
    margin: 0 15px; }
  .bestseller-slider .bestseller-prev {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: -78px;
    right: 53px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease; }
    .bestseller-slider .bestseller-prev:before {
      transition: color .3s ease; }
    .bestseller-slider .bestseller-prev:hover {
      background-color: #000;
      border-color: #000; }
      .bestseller-slider .bestseller-prev:hover:before {
        color: #fff; }
  .bestseller-slider .bestseller-next {
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 32px;
    font-size: 18px;
    color: #000000;
    top: -78px;
    right: 13px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease; }
    .bestseller-slider .bestseller-next:before {
      transition: color .3s ease; }
    .bestseller-slider .bestseller-next:hover {
      background-color: #000;
      border-color: #000; }
      .bestseller-slider .bestseller-next:hover:before {
        color: #fff; }

.brands {
  margin-bottom: 48px; }
  .brands h3 {
    margin-bottom: 38px; }
  .brands-list {
    border: solid 1px #f2f2f2;
    padding: 24px 4px;
    line-height: 28px; }
    .brands-list .col-sm-3 {
      padding: 0px 35px; }
    .brands-list a {
      font-size: 16px;
      letter-spacing: 0.3px;
      color: #29508b;
      text-decoration: underline;
      transition: all .3s ease; }
      .brands-list a:hover {
        text-decoration: none;
        color: #c2a773; }

.ful_articles {
  max-width: 750px;
  width: 100%;
  padding: 0 15px;
  margin: auto; }
  .ful_articles img {
    width: 100%;
    margin-bottom: 25px; }
  .ful_articles p, .ful_articles span {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important; }

.our_articles {
  background-color: #f2f2f2;
  padding-bottom: 38px; }
  .our_articles-img {
    width: 100%;
    background-color: #d0cfcf;
    height: 176px; }
    .our_articles-img a {
      width: 100%;
      height: 100%; }
      .our_articles-img a img {
        width: 100%;
        height: 100%;
        margin-bottom: 0 !important; }
  .our_articles-info {
    padding: 22px 24px 27px;
    height: 200px;
    background-color: #fff;
    border: solid 1px #f2f2f2; }
    .our_articles-info .name {
      margin-bottom: 13px; }
      .our_articles-info .name a {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.2px;
        color: #000000; }
    .our_articles-info .description {
      font-size: 14px;
      line-height: 1.43;
      color: #000000 !important;
      height: 82px;
      overflow: hidden;
      margin-bottom: 8px; }
    .our_articles-info .blog-button a {
      font-size: 16px;
      line-height: 1.63;
      color: #29508b;
      text-decoration: underline; }
  .our_articles h3 {
    margin-top: 48px;
    margin-bottom: 38px; }
  .our_articles .box-content {
    position: relative;
    margin: 0 -15px; }
  .our_articles .slick-slide {
    margin: 0 15px; }
  .our_articles .our_articles-prev {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: -70px;
    right: 53px;
    background-color: #fff;
    position: absolute;
    transition: all .3s ease; }
    .our_articles .our_articles-prev:before {
      transition: color .3s ease; }
    .our_articles .our_articles-prev:hover {
      background-color: #000;
      border-color: #000; }
      .our_articles .our_articles-prev:hover:before {
        color: #fff; }
  .our_articles .our_articles-next {
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 32px;
    font-size: 18px;
    color: #000000;
    top: -70px;
    right: 13px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    transition: all .3s ease; }
    .our_articles .our_articles-next:before {
      transition: color .3s ease; }
    .our_articles .our_articles-next:hover {
      background-color: #000;
      border-color: #000; }
      .our_articles .our_articles-next:hover:before {
        color: #fff; }

.buying_easy {
  padding-bottom: 64px; }
  .buying_easy h3 {
    margin-top: 48px; }
  .buying_easy ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0; }
    .buying_easy ul li {
      width: 220px;
      text-align: center;
      margin: 0 35px; }
      .buying_easy ul li i {
        font-size: 68px;
        margin-bottom: 17px;
        display: block; }
        .buying_easy ul li i.icon-i-delivery {
          font-size: 43px;
          margin: 13px 0 29px; }
      .buying_easy ul li p {
        font-size: 16px;
        letter-spacing: 0.3px;
        color: #000000;
        margin-bottom: 0; }

.newsletter {
  background-color: #f2f2f2;
  padding: 62px 0 64px; }
  .newsletter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .newsletter-info {
    margin-right: 50px; }
    .newsletter-info h4 {
      font-size: 28px;
      letter-spacing: 0.6px;
      color: #000000;
      line-height: 38px;
      margin-bottom: 8px;
      margin-top: 0;
      text-transform: uppercase; }
    .newsletter-info p {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 0;
      color: #5a5a5a; }
  .newsletter form {
    position: relative;
    max-width: 653px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-top: 21px; }
    .newsletter form input {
      width: 100%;
      height: 44px;
      border: 1px solid transparent;
      border-radius: 0;
      font-size: 14px;
      color: #5a5a5a;
      padding-left: 20px;
      transition: border .3s ease; }
      .newsletter form input:focus {
        border-color: #c2a773 !important; }
        .newsletter form input:focus + button {
          border-right-color: #c2a773 !important;
          border-top-color: #c2a773 !important;
          border-bottom-color: #c2a773 !important;
          border-left-color: transparent !important; }
    .newsletter form button {
      width: 44px;
      height: 44px;
      border: 1px solid transparent;
      border-left: 1px solid #f2f2f2;
      transition: border .3s ease;
      border-radius: 0;
      background-color: #fff;
      padding: 0; }
      .newsletter form button i {
        font-size: 10px; }

.category_home {
  margin-bottom: 48px; }
  .category_home ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    justify-content: space-between; }
    .category_home ul li {
      width: 152px;
      border: solid 1px #f2f2f2;
      transition: border .3s ease;
      height: 152px; }
      .category_home ul li:hover {
        border-color: #c2a773; }
        .category_home ul li:hover span {
          color: #c2a773; }
        .category_home ul li:hover .category_home-main {
          opacity: 0; }
        .category_home ul li:hover .category_home-hover {
          opacity: 1; }
      .category_home ul li .category_home-main {
        opacity: 1;
        transition: opacity .3s ease; }
      .category_home ul li .category_home-hover {
        opacity: 0;
        transition: opacity .3s ease; }
      .category_home ul li a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #29508b; }
        .category_home ul li a .category_home-img {
          position: relative;
          width: 100%;
          height: 100px; }
          .category_home ul li a .category_home-img img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translate(-50%, -50%); }
        .category_home ul li a span {
          transition: color .3s ease;
          display: block; }

.testimonial_home {
  margin: 0 -15px 48px;
  position: relative; }
  .testimonial_home .slick-slide {
    margin: 0 15px; }
  .testimonial_home-slider {
    border: solid 1px #f2f2f2;
    height: 322px;
    padding: 24px;
    position: relative; }
    .testimonial_home-slider-top {
      height: 56px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 16px; }
      .testimonial_home-slider-top .review-avatar {
        margin-right: 24px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #f2f2f2; }
        .testimonial_home-slider-top .review-avatar img {
          width: 100%;
          border-radius: 50%; }
      .testimonial_home-slider-top .review-author {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1px;
        color: #000000; }
    .testimonial_home-slider-content {
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #000000; }
      .testimonial_home-slider-content p {
        margin-bottom: 0; }
    .testimonial_home-slider i {
      opacity: 0.08;
      font-size: 24px;
      position: absolute; }
      .testimonial_home-slider i.icon-quotation-mark {
        top: 95px;
        left: 16px; }
      .testimonial_home-slider i.icon-quotation-mark-copy {
        right: 20px;
        bottom: 19px; }
  .testimonial_home .testimonial_home-prev {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: -78px;
    right: 53px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease; }
    .testimonial_home .testimonial_home-prev:before {
      transition: color .3s ease; }
    .testimonial_home .testimonial_home-prev:hover {
      background-color: #000;
      border-color: #000; }
      .testimonial_home .testimonial_home-prev:hover:before {
        color: #fff; }
  .testimonial_home .testimonial_home-next {
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 32px;
    font-size: 18px;
    color: #000000;
    top: -78px;
    right: 13px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease; }
    .testimonial_home .testimonial_home-next:before {
      transition: color .3s ease; }
    .testimonial_home .testimonial_home-next:hover {
      background-color: #000;
      border-color: #000; }
      .testimonial_home .testimonial_home-next:hover:before {
        color: #fff; }

.slider_home {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px; }
  .slider_home .slick-list {
    overflow: visible !important; }
  .slider_home .slick-slide {
    opacity: 0.32;
    transition: opacity .3s ease; }
    .slider_home .slick-slide.slick-active {
      opacity: 1; }
  .slider_home .slider_home-prev, .slider_home .slider_home-next {
    position: absolute;
    color: #000;
    font-size: 36px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer; }
  .slider_home .slider_home-prev {
    left: 22px; }
  .slider_home .slider_home-next {
    right: 22px; }
  .slider_home .item {
    position: relative; }
    .slider_home .item a {
      width: 240px;
      height: 50px;
      border-radius: 26px;
      background-color: #ffffff;
      display: block;
      text-align: center;
      line-height: 50px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #000000;
      position: absolute;
      bottom: 48px;
      right: 182px; }

.about_home {
  background-color: #f2f2f2;
  padding: 47px 0 51px;
  margin-bottom: 48px; }
  .about_home-title {
    font-size: 28px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: 14px;
    text-transform: uppercase; }
  .about_home-text h1 {
    min-height: 124px;
    margin-bottom: 14px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.53;
    color: #000000;
    margin-top: 0; }
  .about_home a {
    font-size: 16px;
    line-height: 1.63;
    color: #29508b;
    text-decoration: underline; }

.slick-slide .product-thumb {
  margin-bottom: 56px;
  transition: box-shadow .3s ease; }
  .slick-slide .product-thumb h4 a {
    transition: text-decoration .3s ease; }
  .slick-slide .product-thumb:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24); }
    .slick-slide .product-thumb:hover h4 a {
      text-decoration: underline; }

.hr-home {
  margin-bottom: 48px; }

.page_contact-map {
  width: 100%;
  height: 555px; }
.page_contact-info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #000; }
  .page_contact-info a {
    color: #000; }
.page_contact-adress {
  margin-bottom: 9px;
  padding-left: 30px;
  position: relative;
  line-height: 1.63; }
  .page_contact-adress i {
    position: absolute;
    top: 6px;
    left: 0px;
    font-size: 19px; }
.page_contact-mail {
  margin-bottom: 19px;
  padding-left: 30px;
  position: relative;
  line-height: 1.63; }
  .page_contact-mail i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    font-size: 13px; }
.page_contact-phone {
  margin-bottom: 16px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  line-height: 1.63; }
  .page_contact-phone a {
    position: relative; }
  .page_contact-phone i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -29px;
    font-size: 14px; }
.page_contact-date_work {
  margin-bottom: 31px;
  padding-left: 30px;
  position: relative;
  line-height: 1.63; }
  .page_contact-date_work i {
    position: absolute;
    top: 6px;
    left: 0px;
    font-size: 16px; }
.page_contact-social {
  font-size: 30px;
  display: flex;
  flex-direction: row; }
  .page_contact-social a {
    margin-right: 15px;
    text-decoration: none; }

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0; }
  .pagination li {
    margin: 0 8px;
    font-size: 14px; }
  .pagination li a {
    min-width: 32px;
    min-height: 32px;
    background-color: #ffffff;
    color: #a3a3a3;
    border: solid 1px #f2f2f2;
    font-weight: 600;
    border-radius: 0 !important; }
    .pagination li a i {
      color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px; }
  .pagination li span {
    position: relative;
    min-width: 32px;
    min-height: 32px;
    color: #000000 !important;
    background-color: #ffffff !important;
    border: solid 1px #f2f2f2 !important;
    font-weight: 600; }
    .pagination li span:after {
      content: '';
      width: 32px;
      height: 3px;
      position: absolute;
      display: block;
      background-color: #29508b;
      bottom: 0;
      left: 0; }

.payment_delivery {
  display: flex;
  margin-bottom: 80px;
  flex-direction: row;
  text-align: center; }
  .payment_delivery-content {
    position: relative;
    width: 50%; }
    .payment_delivery-content:last-child:after {
      display: none; }
    .payment_delivery-content:after {
      content: '';
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
      position: absolute;
      background-color: #e4e4e4; }
  .payment_delivery-title {
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px; }
  .payment_delivery-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    min-height: 135px;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    max-width: 460px;
    width: 100%;
    margin: 0 auto 28px; }
  .payment_delivery ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap; }
    .payment_delivery ul li {
      width: 233px;
      height: 142px;
      border: solid 1px #f2f2f2;
      position: relative; }
    .payment_delivery ul.payment-list li {
      margin: 0 15px 24px;
      padding-top: 88px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: center;
      color: #000000; }
      .payment_delivery ul.payment-list li:after {
        display: none; }
      .payment_delivery ul.payment-list li i {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
        .payment_delivery ul.payment-list li i.icon-i-card {
          top: 26px;
          font-size: 41px; }
        .payment_delivery ul.payment-list li i.icon-i-bank {
          top: 21px;
          font-size: 50px; }
        .payment_delivery ul.payment-list li i.icon-i-delivery1 {
          top: 21px;
          font-size: 42px; }
      .payment_delivery ul.payment-list li p {
        margin-bottom: 0; }
    .payment_delivery ul.delivery-list li {
      margin: 0 15px 24px; }
      .payment_delivery ul.delivery-list li:after {
        display: none !important; }
      .payment_delivery ul.delivery-list li img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.page_about {
  max-width: 750px;
  width: 100%;
  margin: auto;
  margin-bottom: 64px; }
  .page_about img {
    margin-bottom: 40px;
    max-width: 100%; }
  .page_about-text {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 32px; }
  .page_about-ul_title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 18px; }
  .page_about p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 16px; }
  .page_about ul {
    margin-bottom: 22px;
    padding-left: 0;
    list-style: none; }
    .page_about ul li {
      position: relative;
      padding-left: 30px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 10px; }
      .page_about ul li:after {
        content: '';
        top: 9px;
        left: 0;
        position: absolute;
        width: 7px;
        height: 7px;
        transform: rotate(-315deg);
        border: solid 1px #979797; }

.btn-primary {
  background-image: none;
  border: 2px solid #c2a773;
  box-shadow: none;
  text-transform: uppercase;
  min-width: 131px;
  height: 42px;
  border-radius: 4px;
  background-color: #c2a773;
  color: #fff;
  line-height: 38px;
  padding: 0px 12px;
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all .3s ease;
  color: #ffffff;
  box-shadow: none; }
  .btn-primary:hover, .btn-primary:active:focus, .btn-primary:focus {
    background-color: transparent !important;
    color: #000 !important;
    border: 2px solid #c2a773 !important; }

.popups_log {
  border-radius: 0; }
  .popups_log p {
    display: block !important;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 49px;
    margin-bottom: 20px; }
  .popups_log-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px; }
    .popups_log-social a {
      margin: 0 8px; }
  .popups_log .modal-title {
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000; }
  .popups_log .modal-body {
    padding: 40px 31px 0; }
    .popups_log .modal-body input {
      height: 42px;
      border: solid 1px #979797;
      padding-left: 16px;
      font-size: 14px;
      color: #5a5a5a;
      border-radius: 0; }
  .popups_log .modal-footer {
    border-top: 0;
    padding-bottom: 40px;
    padding-top: 0; }
    .popups_log .modal-footer button {
      margin: 30px auto 0; }
  .popups_log .close {
    position: absolute;
    top: 5px;
    right: 13px;
    font-size: 30px; }
  .popups_log-header {
    border-bottom: 1px solid #e8e8e8; }
    .popups_log-header ul {
      margin-bottom: 0;
      height: 51px;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .popups_log-header ul li {
        cursor: pointer;
        margin: 0 45px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        color: #5a5a5a;
        position: relative; }
        .popups_log-header ul li.active {
          color: #000; }
          .popups_log-header ul li.active:after {
            content: '';
            left: 50%;
            transform: translateX(-50%);
            width: 120px;
            bottom: -17px;
            position: absolute;
            height: 3px;
            background-color: #29508b; }
  .popups_log-content {
    padding-top: 40px; }
  .popups_log-form {
    display: none;
    padding: 0 31px 40px; }
    .popups_log-form.active {
      display: block; }
    .popups_log-form .form-group {
      margin-bottom: 18px; }
      .popups_log-form .form-group input {
        height: 42px;
        border: solid 1px #979797;
        padding-left: 16px;
        font-size: 14px;
        color: #5a5a5a;
        border-radius: 0; }
        .popups_log-form .form-group input.form-control:focus {
          box-shadow: none; }
      .popups_log-form .form-group a {
        text-align: right;
        color: #5a5a5a;
        font-size: 14px;
        line-height: 21px; }
    .popups_log-form .btn-logs {
      width: 165px;
      height: 42px;
      border-radius: 4px;
      background-color: #c2a773;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
      border: 0;
      border: 2px solid #c2a773;
      margin: 29px auto 0;
      display: block;
      transition: all .3s ease; }
      .popups_log-form .btn-logs:hover {
        background-color: #fff;
        color: #000; }

.modal-dialog {
  width: 422px;
  margin: 30px auto; }

.checkout-simplecheckout .radio label {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #000000; }
.checkout-simplecheckout h1 {
  display: none; }
.checkout-simplecheckout h2 {
  font-size: 28px;
  letter-spacing: 0.6px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 22px; }
.checkout-simplecheckout .checkout-heading {
  background-color: transparent !important;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #000000 !important;
  padding: 0 !important;
  margin-bottom: 18px; }
.checkout-simplecheckout .button_oc {
  box-shadow: none;
  width: max-content;
  padding: 0px 12px;
  text-transform: uppercase;
  height: 42px;
  border-radius: 4px;
  background-color: #c2a773;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  display: block;
  line-height: 38px;
  cursor: pointer;
  transition: all .3s ease;
  border: 2px solid #c2a773;
  background-image: none; }
  .checkout-simplecheckout .button_oc:hover {
    color: #000;
    background-color: #fff; }
.checkout-simplecheckout .simplecheckout-button-block {
  padding-left: 96px; }
.checkout-simplecheckout #simplecheckout_customer {
  margin-bottom: 0; }
.checkout-simplecheckout .simpl-coment {
  display: flex;
  flex-direction: row; }
  .checkout-simplecheckout .simpl-coment p {
    text-align: left;
    font-size: 14px;
    color: #000000;
    line-height: 34px;
    min-width: 97px; }
  .checkout-simplecheckout .simpl-coment textarea {
    width: 100%;
    border: solid 1px #979797;
    border-radius: 0; }
.checkout-simplecheckout .form-group {
  display: flex;
  flex-direction: row;
  margin: 0 0 24px; }
  .checkout-simplecheckout .form-group .col-sm-3 {
    padding: 0;
    min-width: 97px;
    width: 97px; }
  .checkout-simplecheckout .form-group .col-sm-9 {
    width: 100%;
    padding: 0; }
  .checkout-simplecheckout .form-group label {
    text-align: left;
    font-size: 14px;
    color: #000000;
    line-height: 34px; }
    .checkout-simplecheckout .form-group label:before {
      display: none; }
    .checkout-simplecheckout .form-group label:after {
      content: '* ';
      color: #F00;
      font-weight: bold; }
  .checkout-simplecheckout .form-group input {
    width: 100%;
    border: solid 1px #979797;
    border-radius: 0;
    height: 44px; }
.checkout-simplecheckout .simplecheckout-block-content {
  padding: 0; }

.product .thumbnails li:first-child .thumbnail {
  border: solid 1px #f2f2f2;
  height: 480px;
  border-radius: 0;
  position: relative;
  margin-bottom: 0; }
  .product .thumbnails li:first-child .thumbnail img {
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
.product h1 {
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 22px; }
.product-info {
  margin-bottom: 51px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #000000; }
  .product-info a {
    color: #000; }
  .product-info span {
    display: inline-block;
    width: 180px;
    margin-right: 12px; }
  .product-info li {
    margin-bottom: 12px; }
.product-price_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px; }
  .product-price_block ul {
    margin-bottom: 0; }
  .product-price_block .product-inf_new {
    width: 360px;
    height: 72px;
    border-radius: 4px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px; }
    .product-price_block .product-inf_new div {
      margin: 0 8px; }
  .product-price_block .old-price {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
    text-decoration: line-through;
    margin-bottom: 4px; }
  .product-price_block .price {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #29508b; }
.product-group_block {
  padding-bottom: 40px;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .product-group_block-num {
    position: relative; }
    .product-group_block-num input {
      width: 97px;
      height: 42px;
      border: solid 1px #979797;
      text-align: center;
      font-size: 16px !important;
      letter-spacing: 0.3px;
      color: #000000;
      border-radius: 0; }
    .product-group_block-num .num {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      line-height: 42px;
      padding: 0 8px; }
      .product-group_block-num .num.minus {
        left: 0; }
      .product-group_block-num .num.plus {
        right: 0; }
  .product-group_block-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 360px; }
    .product-group_block-btn button {
      width: 165px;
      height: 42px;
      border-radius: 4px; }
      .product-group_block-btn button.cup {
        padding-left: 41px;
        position: relative;
        text-align: left;
        border: 2px solid #c2a773;
        background-color: #c2a773;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #ffffff;
        cursor: pointer;
        transition: all .3s ease; }
        .product-group_block-btn button.cup i {
          font-size: 16px;
          position: absolute;
          top: 50%;
          left: 13px;
          transform: translateY(-50%); }
        .product-group_block-btn button.cup:hover {
          background-color: #fff;
          color: #000; }
      .product-group_block-btn button.btn-primary {
        border: 2px solid #dfdfdf;
        background-color: #fff;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: #a3a3a3;
        cursor: pointer;
        background-image: none;
        text-transform: uppercase;
        transition: all .3s ease; }
        .product-group_block-btn button.btn-primary i {
          font-size: 16px;
          position: absolute;
          top: 50%;
          left: 13px;
          transform: translateY(-50%); }
        .product-group_block-btn button.btn-primary:hover {
          background-color: #29508b;
          color: #fff;
          border-color: #29508b; }
.product-group_btn {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .product-group_btn .btn-group {
    overflow: hidden; }
  .product-group_btn button {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    border: solid 1px #dfdfdf;
    background-color: #fff;
    margin-right: 20px;
    transition: all .3s ease; }
    .product-group_btn button i:before {
      transition: color .3s ease;
      color: #a3a3a3; }
    .product-group_btn button.btn-wish {
      font-size: 15px;
      padding: 0; }
    .product-group_btn button.btn-heart {
      font-size: 16px;
      padding: 0; }
    .product-group_btn button:hover {
      background-color: #29508b;
      border-color: #29508b; }
      .product-group_btn button:hover i:before {
        color: #fff; }
  .product-group_btn .btn-share {
    width: 42px;
    height: 42px;
    display: block;
    float: right;
    border-radius: 4px;
    border: solid 1px #dfdfdf;
    position: relative;
    font-size: 19px;
    text-align: center;
    line-height: 42px;
    transition: all .3s ease; }
    .product-group_btn .btn-share .share-social {
      position: absolute;
      font-size: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      right: -48px;
      opacity: 0;
      width: 0;
      height: 43px;
      transition: all .3s ease;
      top: -1px;
      background-color: #f5f5f5; }
      .product-group_btn .btn-share .share-social.open {
        width: 170px;
        opacity: 1;
        right: -1px; }
      .product-group_btn .btn-share .share-social a {
        text-decoration: none !important; }
    .product-group_btn .btn-share:before {
      transition: color .3s ease;
      color: #a3a3a3; }
    .product-group_btn .btn-share:hover {
      background-color: #29508b;
      border-color: #29508b; }
      .product-group_btn .btn-share:hover:before {
        color: #fff; }
  .product-group_btn .rating span {
    margin: 0 1px;
    font-size: 13px;
    width: 13px; }
  .product-group_btn .rating a {
    margin-left: 21px;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #29508b;
    text-transform: uppercase; }
.product-tabs {
  background-color: #f5f5f5;
  margin-bottom: 40px;
  margin-top: 56px;
  padding-bottom: 40px; }
  .product-tabs .nav-tabs {
    height: 54px;
    border-color: #e8e8e8;
    margin-bottom: 23px; }
    .product-tabs .nav-tabs li {
      margin: 0 25px; }
      .product-tabs .nav-tabs li a {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        color: #5a5a5a;
        padding: 18px 8px 12px;
        border: 0;
        border-bottom: 3px solid transparent; }
      .product-tabs .nav-tabs li.active a {
        color: #000000;
        background-color: transparent;
        border-color: #29508b; }
        .product-tabs .nav-tabs li.active a:hover, .product-tabs .nav-tabs li.active a:focus {
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 3px solid #29508b; }
  .product-tabs .tab-content {
    padding: 0 30px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000; }
.product-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 68px; }
  .product-review ul {
    padding-left: 0;
    list-style: none; }
    .product-review ul li {
      margin-bottom: 30px;
      border-bottom: 1px solid #e8e8e8; }
      .product-review ul li .product-review-rating {
        margin-bottom: 16px; }
        .product-review ul li .product-review-rating .icon-star-grey:before {
          color: rgba(90, 90, 90, 0.25); }
      .product-review ul li .product-review-name {
        margin-bottom: 23px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #000000; }
      .product-review ul li .product-review-text {
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #000000; }
  .product-review-list {
    max-width: 525px;
    max-height: 500px;
    overflow-y: auto;
    width: 100%; }
  .product-review-form {
    max-width: 360px;
    width: 100%; }
    .product-review-form .alert {
      margin-top: 20px; }
    .product-review-form h2 {
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #000000;
      text-transform: uppercase; }
  .product-review-radio {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; }
    .product-review-radio input {
      opacity: 0 !important;
      z-index: -100 !important;
      position: absolute; }
    .product-review-radio input {
      display: none; }
    .product-review-radio input:checked + label {
      color: #c2a773; }
    .product-review-radio input:checked ~ label:before {
      color: #c2a773; }
    .product-review-radio label {
      font-size: 13px;
      text-align: center;
      color: #999999;
      position: relative;
      margin: 0px;
      width: 20px;
      padding-top: 0px;
      cursor: pointer; }
    .product-review-radio label:hover {
      color: #c2a773; }
    .product-review-radio label:hover:before {
      color: #c2a773 !important; }
    .product-review-radio label:hover ~ label:before {
      color: #c2a773; }
    .product-review-radio label.icon-star-grey {
      margin-right: 6px; }
      .product-review-radio label.icon-star-grey:before {
        color: rgba(90, 90, 90, 0.25); }
  .product-review-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px; }
    .product-review-input.product-textarea {
      align-items: flex-start; }
      .product-review-input.product-textarea label {
        margin-top: 13px; }
    .product-review-input label.control-label {
      width: 97px;
      min-width: 97px;
      text-align: left;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000; }
      .product-review-input label.control-label:before {
        display: none; }
    .product-review-input input {
      width: 100%;
      border: solid 1px #979797;
      height: 42px;
      border-radius: 0;
      background-color: transparent; }
      .product-review-input input:focus {
        box-shadow: none !important;
        border: solid 1px #979797; }
    .product-review-input textarea {
      width: 100%;
      border: solid 1px #979797;
      height: 120px;
      border-radius: 0;
      background-color: transparent; }
      .product-review-input textarea:focus {
        box-shadow: none !important;
        border: solid 1px #979797; }
  .product-review-buttons button {
    margin-left: 97px;
    width: 165px;
    height: 42px;
    border-radius: 4px;
    border: 2px solid #c2a773;
    background-color: #c2a773;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; }
    .product-review-buttons button:hover {
      background-color: #fff;
      color: #000; }
.product-newx {
  width: 42px;
  height: 42px;
  background-color: #29508b;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  line-height: 42px; }
  .product-newx.img-newx {
    position: absolute;
    z-index: 1;
    margin-top: 24px;
    right: 39px; }

.specification_list {
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 0; }
  .specification_list li {
    width: auto;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-right: 89px;
    margin-bottom: 6px; }
    .specification_list li:nth-child(2n) {
      margin-right: 0; }
  .specification_list-name {
    width: 196px;
    font-size: 16px;
    line-height: 2;
    color: #000000;
    margin-right: 72px; }
  .specification_list-txt {
    width: 196px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    color: #000000; }

#simplecheckout_form_0 small {
  display: none; }
#simplecheckout_form_0 .simplecheckout-summary-info {
  display: none; }

#simplecheckout_step_menu {
  display: none !important; }

.btn-ps {
  border: 2px solid #dfdfdf;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #a3a3a3;
  cursor: pointer;
  background-image: none;
  text-transform: uppercase;
  transition: all .3s ease;
  width: 263px;
  height: 42px;
  border-radius: 4px;
  text-align: center;
  display: block;
  line-height: 38px; }
  .btn-ps:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid #c2a773; }

.main_cart_btn {
  float: right !important;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px; }
  .main_cart_btn a:first-child {
    margin-right: 30px; }
  .main_cart_btn input {
    width: auto; }

.main-cart .checkout-heading.panel-heading {
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #000000;
  text-transform: uppercase; }
.main-cart .simplecheckout-cart-total {
  width: 457px;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }
  .main-cart .simplecheckout-cart-total:after {
    display: none; }
  .main-cart .simplecheckout-cart-total span:nth-child(1) {
    position: relative;
    top: auto;
    left: auto;
    transform: translateY(0%); }
    .main-cart .simplecheckout-cart-total span:nth-child(1) b, .main-cart .simplecheckout-cart-total span:nth-child(1) strong {
      font-weight: 400 !important; }
.main-cart .simplecheckout-cart th.image {
  min-width: 195px; }
.main-cart .simplecheckout-cart th.model, .main-cart .simplecheckout-cart td.model {
  min-width: 65px;
  padding-right: 35px !important; }
.main-cart .simplecheckout-cart th.quantity, .main-cart .simplecheckout-cart td.quantity {
  min-width: 195px;
  padding-right: 35px !important; }
  .main-cart .simplecheckout-cart th.quantity .input-group, .main-cart .simplecheckout-cart td.quantity .input-group {
    width: 97px;
    margin: 0 !important; }
.main-cart .simplecheckout-cart th.price, .main-cart .simplecheckout-cart td.price {
  padding-left: 0;
  min-width: 97px; }
.main-cart .simplecheckout-cart th.total, .main-cart .simplecheckout-cart td.total {
  text-align: left;
  padding-left: 0;
  min-width: auto; }
.main-cart .simplecheckout-cart td.remove {
  padding: 32px 27px; }
.main-cart .simplecheckout-cart th.name {
  min-width: 390px; }

.icon-drop-down-copy-3 {
  font-size: 5px;
  color: #000;
  margin-left: 5px; }

.catalog-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 0 16px;
  height: 48px;
  margin-bottom: 32px; }
.catalog-option {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .catalog-option label {
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #000000;
    margin-bottom: 2px; }
  .catalog-option .jq-selectbox.focused .jq-selectbox__select {
    border: 0 !important; }
  .catalog-option .jq-selectbox__select {
    border: 0;
    border-bottom-color: transparent;
    border-radius: 4px;
    background: transparent;
    padding: 0 15px 0 10px;
    box-shadow: none; }
    .catalog-option .jq-selectbox__select:hover {
      background: transparent; }
    .catalog-option .jq-selectbox__select-text {
      color: #29508b;
      font-size: 14px; }
  .catalog-option .jq-selectbox__trigger {
    border: 0;
    width: 10px; }
    .catalog-option .jq-selectbox__trigger-arrow {
      border-top-color: #29508b;
      right: 0px; }

.mail_callback {
  right: 25px !important;
  left: inherit !important;
  bottom: 25px !important;
  color: #fff;
  width: 48px;
  height: 48px;
  background-color: #c2a773;
  border-radius: 50%;
  position: relative;
  background-image: none;
  border: 0;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms; }
  .mail_callback:focus, .mail_callback:active {
    outline: none; }
  .mail_callback i.fa {
    font-size: 24px; }
  .mail_callback:after {
    content: '';
    width: 64px;
    border-radius: 50%;
    height: 64px;
    border: solid 1px #c2a773;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .mail_callback:hover {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    background-color: #c2a773; }

.account-form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px; }
  .account-form-group label.label-block {
    text-align: left;
    padding-left: 0;
    width: 193px;
    padding-right: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 42px;
    letter-spacing: normal;
    color: #000000; }
    .account-form-group label.label-block:before {
      display: none; }
  .account-form-group .input-block {
    max-width: 458px;
    width: 100%;
    display: flex; }
    .account-form-group .input-block-radio {
      font-size: 14px;
      letter-spacing: 0.3px;
      color: #000000;
      margin-right: 25px;
      display: flex;
      align-items: center; }
      .account-form-group .input-block-radio input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px; }
      .account-form-group .input-block-radio input[type='radio'] {
        opacity: 0;
        position: absolute;
        z-index: -1; }
      .account-form-group .input-block-radio input[type='radio'] + label {
        position: relative;
        padding: 0 0 0 34px;
        cursor: pointer; }
      .account-form-group .input-block-radio input[type='radio'] + label:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background-color: #f2f2f2;
        border: solid 1px #979797; }
      .account-form-group .input-block-radio input[type='radio'] + label:after {
        content: '\e928';
        color: #fff;
        font-size: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        font-family: 'icomoon';
        opacity: 0; }
      .account-form-group .input-block-radio input[type='radio']:checked + label:before {
        background: #29508b;
        border-color: transparent; }
      .account-form-group .input-block-radio input[type='radio']:checked + label:after {
        opacity: 1; }
    .account-form-group .input-block-input {
      border: solid 1px #979797;
      height: 42px;
      width: 100%;
      padding-left: 16px;
      border-radius: 0;
      background-color: transparent; }
.account-content {
  border-left: 1px solid #e4e4e4;
  padding-left: 30px;
  margin-bottom: 50px;
  min-height: auto !important;
  padding-bottom: 50px; }
  .account-content h2 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 45px; }
  .account-content .btn-stl {
    display: block;
    line-height: 38px;
    position: relative;
    text-align: center;
    border: 2px solid #c2a773;
    background-color: #c2a773;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s ease;
    width: 165px;
    height: 42px;
    border-radius: 4px; }
    .account-content .btn-stl:hover {
      background-color: #fff;
      color: #000; }
.account_lc {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  color: #000; }
  .account_lc span:first-child {
    width: 100px;
    display: block; }
  .account_lc li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px; }

.lc-menu {
  list-style: none;
  padding-left: 0; }
  .lc-menu li a {
    color: #29508b;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 35px;
    letter-spacing: normal; }

.order-history-table {
  width: 100%;
  min-width: 650px;
  margin-bottom: 40px; }
  .order-history-table .btn-info {
    border: 2px solid #c2a773;
    border-radius: 4px;
    background-color: #c2a773;
    color: #fff;
    text-align: left;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all .3s ease;
    color: #ffffff;
    box-shadow: none;
    background-image: none; }
    .order-history-table .btn-info:hover, .order-history-table .btn-info:focus:active, .order-history-table .btn-info:active {
      background-color: #fff;
      color: #000;
      border: 2px solid #c2a773; }
  .order-history-table thead tr {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
    height: 38px;
    background-color: #f2f2f2;
    border: solid 1px #f2f2f2; }
  .order-history-table thead td:first-child {
    padding-left: 16px; }
  .order-history-table tfoot {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000; }
    .order-history-table tfoot tr {
      height: 40px; }
  .order-history-table tbody tr {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
    height: 90px;
    border: solid 1px #f2f2f2;
    border-top: 0; }
  .order-history-table tbody td:first-child {
    padding-left: 16px; }

.account-simpleregister .form-horizontal .form-group:first-child, .simpleregister-have-account, .account-forgotten p, .account-forgotten legend, .account-forgotten .btn-default {
  display: none; }

.product-compare .btn-danger {
  border: 2px solid #dfdfdf;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #a3a3a3;
  cursor: pointer;
  background-image: none;
  text-transform: uppercase;
  transition: all .3s ease;
  text-shadow: none;
  box-shadow: none; }
  .product-compare .btn-danger:hover {
    border-color: #c2a773;
    color: #000;
    box-shadow: none; }
  .product-compare .btn-danger:active:focus {
    border-color: #c2a773;
    color: #000;
    box-shadow: none;
    background-color: transparent; }

.product-brand-info #content, .manufacturer-page #content, .product-special #content {
  padding-bottom: 45px; }

.account-simpleedit h1, .account-simpleregister h1, .account-forgotten h1 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 35px;
  letter-spacing: 0.3px;
  color: #000000;
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 45px; }
.account-simpleedit .btn-stl, .account-simpleregister .btn-stl, .account-forgotten .btn-stl {
  display: block;
  line-height: 38px;
  position: relative;
  text-align: center;
  border: 2px solid #c2a773;
  background-color: #c2a773;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
  transition: all .3s ease;
  width: 165px;
  height: 42px;
  border-radius: 4px; }
  .account-simpleedit .btn-stl:hover, .account-simpleregister .btn-stl:hover, .account-forgotten .btn-stl:hover {
    background-color: #fff;
    color: #000; }
.account-simpleedit #content, .account-simpleregister #content, .account-forgotten #content {
  border-left: 1px solid #e4e4e4;
  padding-left: 30px;
  margin-bottom: 50px;
  min-height: auto !important;
  padding-bottom: 50px; }
.account-simpleedit .form-horizontal .form-group, .account-simpleregister .form-horizontal .form-group, .account-forgotten .form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px; }
  .account-simpleedit .form-horizontal .form-group label, .account-simpleregister .form-horizontal .form-group label, .account-forgotten .form-horizontal .form-group label {
    text-align: left;
    padding-left: 0;
    padding-top: 0;
    width: 193px;
    padding-right: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 42px;
    letter-spacing: normal;
    color: #000000; }
    .account-simpleedit .form-horizontal .form-group label:before, .account-simpleregister .form-horizontal .form-group label:before, .account-forgotten .form-horizontal .form-group label:before {
      display: none; }
  .account-simpleedit .form-horizontal .form-group input.form-control, .account-simpleregister .form-horizontal .form-group input.form-control, .account-forgotten .form-horizontal .form-group input.form-control {
    border: solid 1px #979797;
    height: 42px;
    max-width: 458px;
    width: 100%;
    padding-left: 16px;
    border-radius: 0;
    background-color: transparent; }
.account-simpleedit .simpleregister-block-content, .account-simpleregister .simpleregister-block-content, .account-forgotten .simpleregister-block-content {
  margin: 0;
  padding: 0; }

.checkout-simplecheckout #simplecheckout_button_prev {
  display: none; }

.mfilter-xs {
  display: none;
  margin-bottom: 8px;
  background-color: #29508b;
  border-radius: 4px;
  padding: 15px 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #fff;
  position: relative; }
  .mfilter-xs.active i {
    transform: rotate(0deg); }
  .mfilter-xs i {
    transition: all .3s ease;
    position: absolute;
    right: 21px;
    top: 20.5px;
    transform: rotate(-180deg);
    font-size: 9px; }

.page-search {
  position: relative; }
  .page-search input {
    height: 36px;
    border-radius: 4px;
    border: solid 1px #c2a773;
    margin-bottom: 25px;
    width: 100%;
    padding-left: 16px; }
  .page-search button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 19px;
    z-index: 2;
    padding: 0 10px;
    height: 36px;
    background-color: transparent;
    border: 0; }

.well {
  color: #000; }
  .well h2 {
    margin-bottom: 15px; }
  .well label {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000; }
  .well input[type="text"], .well input[type="password"] {
    width: 100%;
    border: solid 1px #979797;
    height: 42px;
    border-radius: 0;
    background-color: transparent; }

.product-compare {
  color: #000; }
  .product-compare .table-compare {
    width: 100%;
    overflow: auto; }
  .product-compare thead td {
    border-bottom: 1px solid #f2f2f2 !important;
    background-color: #f2f2f2; }
  .product-compare tbody a {
    color: #000; }
  .product-compare tbody td {
    min-width: 184px; }
    .product-compare tbody td:first-child {
      min-width: auto; }

.product-name-tel {
  display: none;
  margin-top: 20px !important; }

.form-groupss {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; }

.check_box input[type="checkbox"], .check_box input[type="radio"], .radio input[type="checkbox"], .radio input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px; }
.check_box input + label, .radio input + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal !important;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 2px; }
.check_box input + label:before, .radio input + label:before {
  content: '';
  position: absolute;
  top: 0px;
  display: block !important;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  border: solid 1px #979797;
  background-color: #f2f2f2; }
.check_box input + label:after, .radio input + label:after {
  content: "" !important;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #29508b;
  opacity: 0;
  transition: .2s; }
.check_box input:checked + label:after, .radio input:checked + label:after {
  opacity: 1; }

.alert-main {
  position: fixed;
  background-color: #c2a773;
  z-index: 10;
  left: 15px;
  bottom: 15px;
  margin-bottom: 0;
  width: 250px;
  color: #fff; }
  .alert-main a {
    color: #fff;
    font-weight: bold; }

.newsletter-msg {
  position: absolute;
  bottom: -30px;
  left: 20px;
  color: #29508b; }

.popups_log .alert-danger {
  background-color: transparent;
  border: 0;
  margin-bottom: 0px; }
.popups_log .has-error {
  margin-bottom: 0; }

h5, h6, .text-style, .ful_articles {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }
  h5 p, h6 p, .text-style p, .ful_articles p {
    font-size: 16px; }
  h5 ul, h6 ul, .text-style ul, .ful_articles ul {
    margin-bottom: 22px;
    padding-left: 0;
    list-style: none; }
    h5 ul li, h6 ul li, .text-style ul li, .ful_articles ul li {
      position: relative;
      padding-left: 30px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 10px; }
      h5 ul li:after, h6 ul li:after, .text-style ul li:after, .ful_articles ul li:after {
        content: '';
        top: 9px;
        left: 0;
        position: absolute;
        width: 7px;
        height: 7px;
        transform: rotate(-315deg);
        border: solid 1px #979797; }
  h5 ol, h6 ol, .text-style ol, .ful_articles ol {
    margin-bottom: 22px;
    padding-left: 20px; }
    h5 ol li, h6 ol li, .text-style ol li, .ful_articles ol li {
      position: relative;
      padding-left: 10px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */
