*{
  outline: 0!important;
}
a, img { outline: none; }
*:focus,*:active{
  box-shadow: none!important;
  outline: none;
}
.news-article h1,.news-ncategory h1{
  font-size: 28px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
  position: relative;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 46px;
  margin-top: 0;
  &::after{
    content: '';
    width: 225px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -13px;
    height: 11px;
    background-image: url(../image/hl-draw.png);
  }
}
h3,.information-information h1{
  font-size: 28px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #000000;
  position: relative;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 46px;
  margin-top: 0;
  &::after{
    content: '';
    width: 225px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -13px;
    height: 11px;
    background-image: url(../image/hl-draw.png);
  }
}


.top_bar{
  height: 28px;
  background-color: #5a5a5a;
  &-list{
    list-style: none;
    padding-left: 0;
    &-btn{
      display: none;
    }
    li{
      display: inline-block;
      position: relative;
      padding: 0 10px;
      &:first-child{
        margin-left: 0;
      }
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: -2px;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background-color: #fff;
      }
      &:last-child:after{
        display: none;
      }
      a{
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        line-height: 28px;
        &:hover{
          text-decoration:underline ;
        }
      }
      &.active{
        background-color: #3d3d3d;
      }
    }
  }
  &-logout{
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-align: right;
    line-height: 28px;
    a{
      color: #fff;
      cursor: pointer;
    }
  }
}
.header{
  padding-top: 16px;
  padding-bottom: 26px;
  &-work_time{
    margin-top: 8px;
    padding-left: 25px;
    font-size: 13px;
    line-height: 1.31;
    color: #000000;
    position: relative;
    i{
      position: absolute;
      left: 0;
      top: 0;
      font-size: 16px;
    }
  }
  #search{
    position: relative;
    margin-top: 8px;
    width: 100%;
    input{
      height: 36px;
      border-radius: 4px;
      border: solid 1px #c2a773;
      &:active,&:focus{
        border: solid 2px #c2a773;
      }
    }
    button{
      position: absolute;
      font-size: 19px;

      z-index: 2;
      padding: 0 10px;
      height: 36px;
      right: 0;
      background-color: transparent;
      border: 0;
    }
  }
  &-email{
    font-size: 13px;
    display: flex;
    align-items: center;
    i{
      font-size: 13px;
      margin-right: 8px;
    }
    a{
      color: #000000;
    }
  }
  &-phone{
    margin-top: 8px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    a{
      font-size: 13px;
      line-height: 1.31;
      color: #000000;
      position: relative;
      i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -29px;
        font-size: 15px;
      }
    }
    &-main{
      font-weight: bold;
    }
  }
  &-wish{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a{
      font-size: 9px;
      line-height: 1.89;
      color: #29508b;
      display: flex;
      align-items: center;
      transition: color .3s ease;
      i{
        margin-right: 5px;
        &:before{
          transition: color .3s ease;
        }
      }
      .icon-i-scale{
        font-size: 11px;
      }
      .icon-i-heart{
        font-size: 13px;
      }
      &:hover{
        color: #c2a773;
        i:before{
          color: #c2a773;
        }
      }
    }
  }
  &-cart{
    margin-top: 8px;
    a{
      padding-left: 42px;
      width: 100%;
      height: 48px;
      background-color: #c2a773;
      color: #000000;
      text-align: left;
      border: 2px solid #c2a773;
      margin-bottom: 11px;
      font-size: 13px;
      line-height: 1.31;
      position: relative;
      display: flex;
      align-items: center ;
      transition: background-color .3s ease;
      i{
        position: absolute;
        left: 10px;
        font-size: 20px;
        top: 50%;
        transform: translateY(-50%);
        span{
          position: absolute;
          font-size: 8px;
          border-radius: 50%;
          font-family: 'Open Sans', sans-serif;
          width: 12px;
          height: 12px;
          line-height: 11px;
          text-align: center;
          top: -4px;
          right: -4px;
          background-color: #fff;
          font-weight: bold;
        }
      }
      p{
        font-weight: bold;
        display: block;
        margin-bottom: 0;
      }
      &:hover{
        background-color: #fff;
      }
    }
  }
}
.categories_menu{
  background-color: #29508b;
  margin-bottom: 4px;
  &-btn{
    display: none;
  }
  &-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    list-style: none;
    height: 46px;
    position: relative;
    margin-bottom: 0;
    &:after{
      content: '';
      width: 4px;
      background-color: #fff;
      height: 100%;
      position: absolute;
      top: 0;
      right: -2px;
    }
    &:before{
      content: '';
      width: 4px;
      background-color: #fff;
      height: 100%;
      position: absolute;
      top: 0;
      left: -2px;
    }
    li{
      width: 14.28571428%;
      position: relative;
      height: 100%;
      transition: background-color .3s ease;
      &:hover{
        background-color: #214170;
      }
      &.dropdown.open{
        background-color: #214170;
      }
      .dropdown-menu{
        width: max-content;
        padding: 0;
        box-shadow: none!important;
        border: 0;
        .see-all{
          display: none!important;
        }
      }
      .list-unstyled {
        li{
          width: 100%;
          background-color: #214170;
          border-bottom: 1px solid #fff;
          &:last-child{
            border-bottom: 0;
          }
          &:after{
            display: none;
          }
          a:hover{
            background-color: #c2a773;
            background-image: none;
          }
        }
      }
      &:after{
        z-index: 2;
        content: '';
        width: 4px;
        background-color: #fff;
        height: 100%;
        position: absolute;
        top: 0;
        right: -2px;
      }
      &:last-child:after{
        display: none;
      }
      a{
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        padding: 10px;
        line-height: 14px;
        position: relative;
        transition: background-color .3s ease;
        i{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
          font-size: 5px;
        }
      }
    }
  }
}
.footer{
  padding: 35px 0 29px;
  background-image: url(../image/bg-blur.png);
  background-size: cover;
  &-logo img{
    width: 165px;
    margin-bottom: 16px;
  }
  &-info{
    p{
      font-size: 12px;
      line-height: 1.33;
      color: #000000;
      margin-bottom: 13px;
    }
  }
  &-phone{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    a{
      font-size: 13px;
      line-height: 1.31;
      color: #000000;
      position: relative;
      i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -29px;
        font-size: 15px;
      }
    }
    &-main{
      font-weight: bold;
    }
    margin-bottom: 21px;
  }
  &-social{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    a{
      margin-right: 15px;
      text-decoration: none;
      &:before{
        transition: color .3s ease;
      }
      &:hover:before{
        color: #214170;
      }
    }
  }
  h5{
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    line-height: 1;
    letter-spacing: 2px;
    color: #29508b;
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 21px;
    text-transform: uppercase;
    &:after{
      content: '';
      width: 62px;
      height: 2px;
      background-color: #c2a773;
      position: absolute;
      bottom: 0px;
      left: 0;
    }
  }
  ul{
    li{
      font-size: 14px;
      line-height: 2.14;
      a{
        color: #000000;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.copyright{
  background-color: #5a5a5a;
  .containers{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  p{
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.23;
    color: #999999;
    a{
      text-transform: uppercase;
      color: #999999;
    }
  }
  i{
    float: right;
    font-size: 20px;
  }
}
.product-layout{
  .product-thumb{
    border: solid 1px #f2f2f2;
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    .image a{
      height: 162px;
      img{
        height: 100%;
      }
    }
    h4 {
      margin-bottom: 5px;
      a{
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #000000;
        height: 35px;
        display: block;
      }
    }
    .price{
      font-size: 14px;
      letter-spacing: 0.3px;
      color: #000000;
      .price-new{
        color: #29508b;
        font-weight: bold;
      }
    }
    .button-groups{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .dop-prod{
      text-align: center;
      width: 42px;
      height: 42px;
      border-radius: 4px;
      padding: 0;
      border: solid 1px #dfdfdf;
      background-color: #fff;
      line-height: 43px;
      transition: all .3s ease;
      i:before{
        color: #a3a3a3;
        transition: color .3s ease;
      }
      .fa{
        font-size: 20px;
      }
      .icon-i-heart{
        font-size: 16px;
      }
      .icon-i-scale{
        font-size: 15px;
      }
      &:hover{
        border-color: #29508b;
        background-color: #29508b;
        i:before{
          color: #fff;
        }
      }
    }
    .cart{
      border: 2px solid #c2a773;
      text-transform: uppercase;
      width: 131px;
      height: 42px;
      border-radius: 4px;
      background-color: #c2a773;
      color: #fff;
      padding-left: 41px;
      text-align: left;
      display: block;
      position: relative;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      transition: all .3s ease;
      color: #ffffff;
      i{
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
      }
      &:hover{
        background-color: #fff;
        color: #000;
      }
    }
  }
}
h3 br{
  display: none;
}
.featured-slider{
  margin: 0 -15px;
  position: relative;
  .slick-slide{
    margin: 0 15px;
  }
  .featured-prev{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: -78px;
    right: 53px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease;
    &:before{
      transition: color .3s ease;
    }
    &:hover{
      background-color: #000;
      border-color: #000;
      &:before{
        color: #fff;
      }
    }
  }
  .featured-next{
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 32px;
    font-size: 18px;
    color: #000000;
    top: -78px;
    right: 13px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease;
    &:before{
      transition: color .3s ease;
    }
    &:hover{
      background-color: #000;
      border-color: #000;
      &:before{
        color: #fff;
      }
    }
  }
}

.bestseller-slider{
  margin: 0 -15px;
  position: relative;
  .slick-slide{
    margin: 0 15px;
  }
  .bestseller-prev{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: -78px;
    right: 53px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease;
    &:before{
      transition: color .3s ease;
    }
    &:hover{
      background-color: #000;
      border-color: #000;
      &:before{
        color: #fff;
      }
    }
  }
  .bestseller-next{
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 32px;
    font-size: 18px;
    color: #000000;
    top: -78px;
    right: 13px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease;
    &:before{
      transition: color .3s ease;
    }
    &:hover{
      background-color: #000;
      border-color: #000;
      &:before{
        color: #fff;
      }
    }
  }
}

.brands{
  margin-bottom: 48px;
  h3{
    margin-bottom: 38px;
  }
  &-list{
    border: solid 1px #f2f2f2;
    padding: 24px 4px;
    line-height: 28px;
    .col-sm-3{
      padding: 0px 35px;
    }
    a{
      font-size: 16px;
      letter-spacing: 0.3px;
      color: #29508b;
      text-decoration: underline;
      transition: all .3s ease;
      &:hover{
        text-decoration: none;
        color: #c2a773;
      }
    }
  }
}
.ful_articles{
  max-width: 750px;
  width: 100%;
  padding: 0 15px;
  margin: auto;

      img{
        width: 100% ;
        margin-bottom: 25px;
      }
    p,span{
      font-family: 'Open Sans', sans-serif!important;
      font-size: 14px!important;
    }
}
.our_articles{
  background-color: #f2f2f2;
  padding-bottom: 38px;
  &-img{
    width: 100%;
    background-color: #d0cfcf;
    height: 176px;
    a{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        margin-bottom: 0!important;
      }
    }
  }
  &-info{
    padding: 22px 24px 27px;
    height: 200px;
    background-color: #fff;
    border: solid 1px #f2f2f2;
    .name{
      a{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.2px;
        color: #000000;
      }
      margin-bottom: 13px;
    }
    .description{

      font-size: 14px;
      line-height: 1.43;
      color: #000000!important;
      height: 82px;
      overflow: hidden;
      margin-bottom: 8px;
    }
    .blog-button{
      a{
        font-size: 16px;
        line-height: 1.63;
        color: #29508b;
        text-decoration: underline;
      }
    }
  }
  h3{
    margin-top: 48px;
    margin-bottom: 38px;
  }
  .box-content{
    position: relative;
    margin: 0 -15px;
  }
  .slick-slide{
    margin: 0 15px;
  }
  .our_articles-prev{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: -70px;
    right: 53px;
    background-color: #fff;
    position: absolute;
    transition: all .3s ease;
    &:before{
      transition: color .3s ease;
    }
    &:hover{
      background-color: #000;
      border-color: #000;
      &:before{
        color: #fff;
      }
    }
  }
  .our_articles-next{
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 32px;
    font-size: 18px;
    color: #000000;
    top: -70px;
    right: 13px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    transition: all .3s ease;
    &:before{
      transition: color .3s ease;
    }
    &:hover{
      background-color: #000;
      border-color: #000;
      &:before{
        color: #fff;
      }
    }
  }
}

.buying_easy{
  padding-bottom: 64px;
  h3{
    margin-top: 48px;
  }
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    li{
      width: 220px;
      text-align: center;
      margin: 0 35px;
      i{
        font-size: 68px;
        margin-bottom: 17px;
        display: block;
        &.icon-i-delivery{
          font-size: 43px;
          margin: 13px 0 29px;
        }
      }
      p{
        font-size: 16px;
        letter-spacing: 0.3px;
        color: #000000;
        margin-bottom: 0;
      }
    }
  }
}
.newsletter{
  background-color: #f2f2f2;
  padding: 62px 0 64px;
  &-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-info{
    margin-right: 50px;
    h4{
      font-size: 28px;
      letter-spacing: 0.6px;
      color: #000000;
      line-height: 38px;
      margin-bottom: 8px;
      margin-top: 0;
      text-transform: uppercase;
    }
    p{
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 0;
      color: #5a5a5a;
    }
  }
  form{
    position: relative;
    max-width: 653px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-top: 21px;
    input{
      width: 100%;
      height: 44px;
      border: 1px solid transparent;
      border-radius: 0;
      font-size: 14px;
      color: #5a5a5a;
      padding-left: 20px;
      transition: border .3s ease;
      &:focus{
        border-color: #c2a773!important;
        + button{
          border-right-color: #c2a773!important;
          border-top-color: #c2a773!important;
          border-bottom-color: #c2a773!important;
          border-left-color: transparent!important;
        }
      }
    }
    button{
      width: 44px;
      height: 44px;
      border: 1px solid transparent;
      border-left: 1px solid #f2f2f2;
      transition: border .3s ease;
      border-radius: 0;
      background-color: #fff;
      padding: 0;
      i{
        font-size: 10px;
      }
    }
  }
}
.category_home{
  margin-bottom: 48px;
  ul{
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    li{
      width: 152px;
      border: solid 1px #f2f2f2;
      transition: border .3s ease;
      height: 152px;
      &:hover{
        border-color: #c2a773;
        span{
          color: #c2a773;
        }
        .category_home-main{
          opacity: 0;
        }
        .category_home-hover{
          opacity: 1;
        }
      }
      .category_home-main{
        opacity: 1;
        transition: opacity .3s ease;
      }
      .category_home-hover{
        opacity: 0;
        transition: opacity .3s ease;
      }
      a{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #29508b;
        .category_home-img{
          position: relative;
          width: 100%;
          height: 100px;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translate(-50%,-50%);
          }
        }
        span{
          transition: color .3s ease;
          display: block;
        }
      }
    }
  }

}

.testimonial_home{
  margin: 0 -15px 48px;
  position: relative;
  .slick-slide{
    margin: 0 15px;
  }
  &-slider{
    border: solid 1px #f2f2f2;
    height: 322px;
    padding: 24px;
    position: relative;
    &-top{
      height: 56px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 16px;
      .review-avatar{
        margin-right: 24px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #f2f2f2;
        img{
          width: 100%;
          border-radius: 50%;
        }
      }
      .review-author{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1px;
        color: #000000;
      }
    }
    &-content{
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #000000;
      p{
        margin-bottom: 0;
      }
    }
    i{
      opacity: 0.08;
      font-size: 24px;
      position: absolute;
      &.icon-quotation-mark{
        top: 95px;
        left: 16px;
      }
      &.icon-quotation-mark-copy{
        right: 20px;
        bottom: 19px;
      }
    }
  }
  .testimonial_home-prev{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #000000;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: -78px;
    right: 53px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease;
    &:before{
      transition: color .3s ease;
    }
    &:hover{
      background-color: #000;
      border-color: #000;
      &:before{
        color: #fff;
      }
    }
  }
  .testimonial_home-next{
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 32px;
    font-size: 18px;
    color: #000000;
    top: -78px;
    right: 13px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    border: solid 1px #f2f2f2;
    transition: all .3s ease;
    &:before{
      transition: color .3s ease;
    }
    &:hover{
      background-color: #000;
      border-color: #000;
      &:before{
        color: #fff;
      }
    }
  }
}

.slider_home{
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
  .slick-list{
    overflow: visible !important;
  }
  .slick-slide{
    opacity: 0.32;
    transition: opacity .3s ease;
    &.slick-active{
      opacity: 1;
    }
  }
  .slider_home-prev,.slider_home-next{
    position: absolute;
    color: #000;
    font-size: 36px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }
  .slider_home-prev{
    left: 22px;
  }
  .slider_home-next{
    right: 22px;
  }
  .item {
    position: relative;
    a{
      width: 240px;
      height: 50px;
      border-radius: 26px;
      background-color: #ffffff;
      display: block;
      text-align: center;
      line-height: 50px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #000000;
      position: absolute;
      bottom: 48px;
      right: 182px;
    }
  }
}
.about_home{
  background-color: #f2f2f2;
  padding: 47px 0 51px;
  margin-bottom: 48px;
  &-title{
    font-size: 28px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: 14px;
    text-transform: uppercase;
  }
  &-text{
    h1{
      min-height: 124px;
      margin-bottom: 14px;
      font-size: 16px;
      font-style: italic;
      line-height: 1.53;
      color: #000000;
      margin-top: 0;
    }

  }
  a{
    font-size: 16px;
    line-height: 1.63;
    color: #29508b;
    text-decoration: underline;
  }
}

.slick-slide .product-thumb{
  margin-bottom: 56px;
  transition: box-shadow .3s ease;
  h4 a{
    transition: text-decoration .3s ease;
  }
  &:hover{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
    h4 a{
      text-decoration: underline ;
    }
  }
}
.hr-home{
  margin-bottom: 48px;
}


.page_contact{
  &-map{
    width: 100%;
    height: 555px;
  }
  &-info{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #000;
    a{
      color: #000;
    }
  }
  &-adress{
    margin-bottom: 9px;
    padding-left: 30px;
    position: relative;
    line-height: 1.63;
    i{
      position: absolute;
      top: 6px;
      left: 0px;
      font-size: 19px;
    }
  }
  &-mail{
    margin-bottom: 19px;
    padding-left: 30px;
    position: relative;
    line-height: 1.63;
    i{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      font-size: 13px;
    }
  }
  &-phone{
    margin-bottom: 16px;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    line-height: 1.63;
    a{
      position: relative;
    }
    i{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -29px;
      font-size: 14px;
    }
  }
  &-date_work{
    margin-bottom: 31px;
    padding-left: 30px;
    position: relative;
    line-height: 1.63;
    i{
      position: absolute;
      top: 6px;
      left: 0px;
      font-size: 16px;
    }
  }
  &-social{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    a{
      margin-right: 15px;
      text-decoration: none;
    }
  }
}
.pagination{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0;
  li{
    margin: 0 8px;
    font-size: 14px;
  }
  li a{
    min-width: 32px;
    min-height: 32px;
    background-color: #ffffff;
    color: #a3a3a3;
    border: solid 1px #f2f2f2;
    font-weight: 600;
    border-radius: 0!important;
    i{
      color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 18px;
    }
  }
  li span{
    position: relative;
     min-width: 32px;
    min-height: 32px;
    color: #000000!important;
    background-color: #ffffff!important;
    border: solid 1px #f2f2f2!important;
    font-weight: 600;
    &:after{
      content: '';
      width: 32px;
      height: 3px;
      position: absolute;
      display: block;
      background-color: #29508b;
      bottom: 0;
      left: 0;
    }
   }

}
.payment_delivery{
  display: flex;
  margin-bottom: 80px;
  flex-direction: row;
  text-align: center;
  &-content{
    position: relative;
    width: 50%;
    &:last-child:after{
      display: none;
    }
   &:after{
     content: '';
     right: 0;
     top: 0;
     width: 1px;
     height: 100%;
     position: absolute;
     background-color: #e4e4e4;
   }
  }
  &-title{
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
  }
  &-text{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    min-height: 135px;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    max-width: 460px;
    width: 100%;
    margin: 0 auto 28px;
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
    li{
      width: 233px;
      height: 142px;
      border: solid 1px #f2f2f2;
      position: relative;
    }
    &.payment-list{
      li{
        margin: 0 15px 24px;
        padding-top: 88px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        color: #000000;
        &:after{
          display: none;
        }
        i{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          &.icon-i-card{
            top: 26px;
            font-size: 41px;
          }
          &.icon-i-bank{
            top: 21px;
            font-size: 50px;
          }
          &.icon-i-delivery1{
            top: 21px;
            font-size: 42px;
          }
        }
        p{
          margin-bottom: 0;
        }
      }

    }
    &.delivery-list{
      li{
        margin: 0 15px 24px;
        &:after{
          display: none!important;
        }
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }

    }
  }
}
.page_about{
  max-width: 750px;
  width: 100%;
  margin: auto;
  margin-bottom: 64px;
  img{
    margin-bottom: 40px;
    max-width: 100%;
  }
  &-text{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 32px;
  }
  &-ul_title{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 18px;
  }
  p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 16px;
  }
  ul{
    margin-bottom: 22px;
    padding-left: 0;
    list-style: none;
    li{
      position: relative;
      padding-left: 30px;
      &:after{
        content: '';
        top: 9px;
        left: 0;
        position: absolute;
        width: 7px;
        height: 7px;
        transform: rotate(-315deg);
        border: solid 1px #979797;
      }
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 10px;
    }
  }
}
.btn-primary{
  background-image: none;
  border: 2px solid #c2a773;
  box-shadow: none;

  text-transform: uppercase;
  min-width: 131px;
  height: 42px;
  border-radius: 4px;
  background-color: #c2a773;
  color: #fff;
  line-height: 38px;
  padding: 0px 12px;
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all .3s ease;
  color: #ffffff;
  box-shadow: none ;
  &:hover,&:active:focus,&:focus{
    background-color: transparent!important;
    color: #000!important;
    border: 2px solid #c2a773!important;
  }
}
.popups_log{
  border-radius: 0;
  p{
    display: block!important;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 49px;
    margin-bottom: 20px;

  }
  &-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    a{
      margin: 0 8px;
    }
  }
  .modal-title{
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
  }
  .modal-body{
    padding: 40px 31px 0;
    input{
      height: 42px;
      border: solid 1px #979797;
      padding-left: 16px;
      font-size: 14px;
      color: #5a5a5a;
      border-radius: 0;
    }
  }
  .modal-footer{
    border-top: 0;
    padding-bottom: 40px;
    padding-top: 0;
    button{
      margin: 30px auto 0;
    }
  }
  .close{
    position: absolute;
    top: 5px;
    right: 13px;
    font-size: 30px;
  }
  &-header{
    border-bottom: 1px solid #e8e8e8;
    ul{
      margin-bottom: 0;
      height: 51px;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li{
        cursor: pointer;
        margin: 0 45px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        color: #5a5a5a;
        position: relative;
        &.active{
          color: #000;
          &:after{
            content: '';
            left: 50%;
            transform: translateX(-50%);
            width: 120px;
            bottom: -17px;
            position: absolute;
            height: 3px;
            background-color: #29508b;
          }
        }
      }
    }
  }
  &-content{
    padding-top: 40px;
  }
  &-form{
    display: none;
    padding: 0 31px 40px;
    &.active{
      display: block;
    }
    .form-group{
      margin-bottom: 18px;
      input{
        height: 42px;
        border: solid 1px #979797;
        padding-left: 16px;
        font-size: 14px;
        color: #5a5a5a;
        border-radius: 0;
        &.form-control:focus{
          box-shadow:none;
        }
      }
      a{
        text-align: right;
        color: #5a5a5a;
        font-size: 14px;
        line-height: 21px;
      }

    }
    .btn-logs{
      width: 165px;
      height: 42px;
      border-radius: 4px;
      background-color: #c2a773;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-align: center;
      color: #ffffff;
      border: 0;
      border: 2px solid #c2a773;
      margin: 29px auto 0;
      display: block;
      transition: all .3s ease;
      &:hover{
        background-color: #fff;
        color: #000;
      }
    }
  }
}

.modal-dialog {
  width: 422px;
  margin: 30px auto;
}

.checkout-simplecheckout{
  .radio{
    label{
      font-size: 14px;
      letter-spacing: 0.3px;
      color: #000000;
    }
  }
  h1{
    display: none;
  }
  h2{
    font-size: 28px;
    letter-spacing: 0.6px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .checkout-heading{
    background-color: transparent!important;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #000000!important;
    padding: 0!important;
    margin-bottom: 18px;
  }
  .button_oc{
    box-shadow: none;
    width: max-content;
    padding: 0px 12px;
    text-transform: uppercase;
    height: 42px;
    border-radius: 4px;
    background-color: #c2a773;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    display: block;
    line-height: 38px;
    cursor: pointer;
    transition: all .3s ease;
    border: 2px solid #c2a773;
    background-image:none;
    &:hover{
      color: #000;
      background-color: #fff;
    }
  }
  .simplecheckout-button-block{
    padding-left: 96px;

  }
  #simplecheckout_customer{
    margin-bottom: 0;
  }
  .simpl{
    &-coment{
      display: flex;
      flex-direction: row;
      p{
        text-align: left;
        font-size: 14px;
        color: #000000;
        line-height: 34px;
        min-width: 97px;
      }
      textarea{
        width: 100%;
        border: solid 1px #979797;
        border-radius: 0;
      }
    }
  }
  .form-group{
    display: flex;
    flex-direction: row;
    margin: 0 0 24px;
    .col-sm-3{
      padding: 0;
      min-width: 97px;
      width: 97px;
    }
    .col-sm-9{
      width: 100%;
      padding: 0;
    }
    label{
      text-align: left;
      font-size: 14px;
      color: #000000;
      line-height: 34px;
      &:before{
        display: none;
      }
      &:after {
        content: '* ';
        color: #F00;
        font-weight: bold;
      }
    }
    input{
      width: 100%;
      border: solid 1px #979797;
      border-radius: 0;
      height: 44px;
    }
  }
  .simplecheckout-block-content{
    padding: 0;
  }


}
.product {
  .thumbnails{
    li{
      &:first-child{
        .thumbnail{
          border: solid 1px #f2f2f2;
          height: 480px;
          border-radius: 0;
          position: relative;
          margin-bottom: 0 ;
          img{
            max-width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
          }
        }
      }
    }
  }

  h1 {
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 22px;
  }
  &-info {
    margin-bottom: 51px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
    a {
      color: #000;
    }
    span {
      display: inline-block;
      width: 180px;
      margin-right: 12px;

    }
    li {
      margin-bottom: 12px;
    }
  }
  &-price_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    ul {
      margin-bottom: 0;
    }
    .product-inf_new {
      width: 360px;
      height: 72px;
      border-radius: 4px;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0 16px;
      div{
        margin: 0 8px;
      }
    }
    .old-price {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #000000;
      text-decoration: line-through;
      margin-bottom: 4px;
    }
    .price {
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #29508b;
    }
  }
  &-group_block {
    padding-bottom: 40px;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-num {
      position: relative;
      input {
        width: 97px;
        height: 42px;
        border: solid 1px #979797;
        text-align: center;
        font-size: 16px !important;
        letter-spacing: 0.3px;
        color: #000000;
        border-radius: 0;
      }
      .num {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        line-height: 42px;
        padding: 0 8px;
        &.minus {
          left: 0;
        }
        &.plus {
          right: 0;
        }
      }
    }
    &-btn {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      min-width: 360px;
      button {
        width: 165px;
        height: 42px;
        border-radius: 4px;
        &.cup {
          padding-left: 41px;
          position: relative;
          text-align: left;
          border: 2px solid #c2a773;
          background-color: #c2a773;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          color: #ffffff;
          cursor: pointer;
          transition: all .3s ease;
          i {
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 13px;
            transform: translateY(-50%);
          }
          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
        &.btn-primary {;
          border: 2px solid #dfdfdf;
          background-color: #fff;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: #a3a3a3;
          cursor: pointer;
          background-image: none;
          text-transform: uppercase;
          transition: all .3s ease;
          i {
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 13px;
            transform: translateY(-50%);
          }
          &:hover {
            background-color: #29508b;
            color: #fff;
            border-color: #29508b;
          }
        }
      }
    }
  }
  &-group_btn {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .btn-group{
      overflow: hidden ;
    }
    button {
      width: 42px;
      height: 42px;
      border-radius: 4px;
      border: solid 1px #dfdfdf;
      background-color: #fff;
      margin-right: 20px;
      transition: all .3s ease;
      i:before{
        transition: color .3s ease;
        color: #a3a3a3;
      }
      &.btn-wish {
        font-size: 15px;
        padding: 0;
      }
      &.btn-heart {
        font-size: 16px;
        padding: 0;
      }
      &:hover{
        background-color: #29508b;
        border-color: #29508b;
        i:before{
          color: #fff;
        }
      }
    }
    .btn-share {
      width: 42px;
      height: 42px;
      display: block;
      float: right;
      border-radius: 4px;
      border: solid 1px #dfdfdf;
      position: relative;
      font-size: 19px;
      text-align: center;
      line-height: 42px;
      transition: all .3s ease;
      .share-social{
        position: absolute;
        font-size: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        right: -48px;
        opacity: 0;
        width: 0;
        height: 43px;
        transition: all .3s ease;
        top: -1px;
        background-color: #f5f5f5;
        &.open{
          width: 170px;
          opacity: 1;
          right: -1px;
        }
        a{
          text-decoration: none!important;
        }
      }
      &:before{
        transition: color .3s ease;
        color: #a3a3a3;
      }
      &:hover{
        //.share-social{
        //  width: 170px;
        //  opacity: 1;
        //  right: -1px;
        //}
        background-color: #29508b;
        border-color: #29508b;
        &:before{
          color: #fff;
        }
      }
    }
    .rating {
      span {
        margin: 0 1px;
        font-size: 13px;
        width: 13px;
      }
      a {
        margin-left: 21px;
        font-size: 11px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #29508b;
        text-transform: uppercase;
      }
    }

  }
  &-tabs{
    background-color: #f5f5f5;
    margin-bottom: 40px;
    margin-top: 56px;
    padding-bottom: 40px;
    .nav-tabs{
      height: 54px;
      border-color: #e8e8e8;
      margin-bottom: 23px;
      li{
        margin: 0 25px;
        a{
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.3px;
          color: #5a5a5a;
          padding: 18px 8px 12px;
          border: 0;
          border-bottom: 3px solid transparent;
        }
        &.active{
          a{
            color: #000000;
            background-color: transparent;
            border-color:  #29508b;
            &:hover,&:focus{
              border-top: 0;
              border-left: 0;
              border-right: 0;
              border-bottom: 3px solid #29508b;
            }
          }
        }
      }
    }
    .tab-content{
      padding: 0 30px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
    }
  }
  &-review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 68px;
    ul{
      padding-left: 0;
      list-style: none;
      li{
        margin-bottom: 30px;
        border-bottom: 1px solid #e8e8e8;
        .product-review{
          &-rating{
            margin-bottom: 16px;
            .icon-star-grey:before{
              color: rgba(90, 90, 90, 0.25);
            }
          }
          &-name{
            margin-bottom: 23px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            color: #000000;
          }
          &-text{
            margin-bottom: 30px;
            font-size: 14px;
            font-weight: normal;
            font-style: italic;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #000000;
          }
        }

      }
    }
    &-list{
      max-width: 525px;
      max-height: 500px;
      overflow-y: auto;
      width: 100%;
    }
    &-form{
      max-width: 360px;
      width: 100%;
      .alert{
        margin-top: 20px;
      }
      h2{
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        color: #000000;
        text-transform: uppercase;
      }
    }
    &-radio{
      width: 100%;
      text-align: left;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      input{
        opacity: 0!important;
        z-index: -100!important;
        position: absolute;
      }

       input {
        display: none;
      }
       input:checked + label {
        color: #c2a773;
      }
       input:checked ~ label:before {
        color: #c2a773;
      }

      label {
        font-size: 13px;
        text-align: center;
        color: #999999;
        position: relative;
        margin: 0px;
        width: 20px;
        padding-top: 0px;
        cursor: pointer;
      }

      label:hover {
        color: #c2a773;
      }
      label:hover:before {
        color: #c2a773!important;
      }
      label:hover ~ label:before {
        color: #c2a773;
      }

      label.icon-star-grey{
        margin-right: 6px;
        &:before{
          color: rgba(90, 90, 90, 0.25);
        }
      }
    }
    &-input{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;
      &.product-textarea{
        align-items: flex-start;
        label{
          margin-top: 13px;
        }
      }
      label.control-label{
        width: 97px;
        min-width: 97px;
        text-align: left;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        &:before{
          display: none;
        }
      }
      input{
        width: 100%;
        border: solid 1px #979797;
        height: 42px;
        border-radius: 0;
        background-color: transparent;
        &.radio{

        }
        &:focus{
          box-shadow: none!important;
          border: solid 1px #979797;
        }
      }
      textarea{
        width: 100%;
        border: solid 1px #979797;
        height: 120px;
        border-radius: 0;
        background-color: transparent;
        &:focus{
          box-shadow: none!important;
          border: solid 1px #979797;
        }
      }
    }
    &-buttons{

      button{
        margin-left: 97px;
        width: 165px;
        height: 42px;
        border-radius: 4px;
        border: 2px solid #c2a773;
        background-color: #c2a773;
        transition: all .3s ease;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        &:hover{
          background-color: #fff;
          color: #000;
        }
      }

    }
  }
  &-newx{
    width: 42px;
    height: 42px;
    background-color: #29508b;
    border-radius: 50% ;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    line-height: 42px;
    &.img-newx{
      position: absolute;
      z-index: 1;
      margin-top: 24px;
      right: 39px;
    }
  }
}
.specification_list{
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 0;
  li{
    width: auto;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-right: 89px;
    margin-bottom: 6px ;
    &:nth-child(2n){
      margin-right: 0;
    }
  }
  &-name{
    width: 196px;
    font-size: 16px;
    line-height: 2;
    color: #000000;
    margin-right: 72px;
  }
  &-txt{
    width: 196px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    color: #000000;
  }
}
#simplecheckout_form_0{

  small{
    display: none;
  }
  .simplecheckout-summary-info{
    display: none;
  }

}
#simplecheckout_step_menu{
  display: none!important;

}
.btn-ps{
  border: 2px solid #dfdfdf;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #a3a3a3;
  cursor: pointer;
  background-image: none;
  text-transform: uppercase;
  transition: all .3s ease;
  width: 263px;
  height: 42px;
  border-radius: 4px;
  text-align: center;
  display: block;
  line-height: 38px;
  &:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid #c2a773;
  }
}
.main_cart_btn{
  //width: 457px;
  float: right!important;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px ;
  a:first-child{
    margin-right: 30px;
  }
  input{
    width: auto;
  }
}
.main-cart{
  .checkout-heading.panel-heading{
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
    text-transform: uppercase;
  }
  .simplecheckout-cart-total{
    width: 457px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    &:after{
      display: none;
    }
    span:nth-child(1){
      position: relative;
      top: auto;
      left: auto;
      transform: translateY(0%);
      b, strong {
        font-weight: 400!important;
      }
    }
  }
  .simplecheckout-cart th.image{
    min-width: 195px;
  }
  .simplecheckout-cart th.model,.simplecheckout-cart td.model{
    min-width: 65px;
    padding-right: 35px!important;
  }
  .simplecheckout-cart th.quantity,.simplecheckout-cart td.quantity{
    min-width: 195px;
    padding-right: 35px!important;
    .input-group{
      width: 97px;
      margin: 0!important;
    }
  }
  .simplecheckout-cart th.price,.simplecheckout-cart td.price{
    padding-left: 0;
    min-width: 97px;
  }
  .simplecheckout-cart th.total,.simplecheckout-cart td.total{
    text-align: left;
    padding-left: 0;
    min-width: auto;
  }
  .simplecheckout-cart td.remove{
    padding: 32px 27px;
  }
  .simplecheckout-cart th.name {
    min-width: 390px;
  }
}
.icon-drop-down-copy-3{
  font-size: 5px;
  color: #000;
  margin-left: 5px;
}
.catalog{
  &-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding: 0 16px;
    height: 48px;
    margin-bottom: 32px;
  }
  &-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    label{
      font-size: 14px;
      letter-spacing: 0.3px;
      color: #000000;
      margin-bottom: 2px;
    }
    .jq-selectbox.focused .jq-selectbox__select{
      border: 0!important;
    }
    .jq-selectbox__select{
      border: 0;
      border-bottom-color: transparent;
      border-radius: 4px;
      background: transparent;
      padding: 0 15px 0 10px;
      box-shadow: none;
      &:hover{
        background: transparent;
      }
      &-text{
        color: #29508b;
        font-size: 14px;
      }
    }
    .jq-selectbox__trigger{
      border: 0;
      width: 10px;
      &-arrow{
        border-top-color: #29508b;
        right: 0px;
      }
    }
  }
}

.mail_callback{
  right: 25px!important;
  left: inherit!important;
  bottom: 25px!important;
  color: #fff;
  width: 48px;
  height: 48px;
  background-color: #c2a773;
  border-radius: 50%;
  position: relative;
  background-image: none;
  border: 0;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
  &:focus,&:active{
    outline: none;
  }
  i.fa{
    font-size: 24px;
  }
  &:after{
    content: '';
    width: 64px;
    border-radius: 50%;
    height: 64px;
    border: solid 1px #c2a773;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &:hover{
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    background-color: #c2a773;
  }
}
.account{
  &-form-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    label.label-block {
      text-align: left;
      padding-left: 0;
      width: 193px;
      padding-right: 0;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 42px;
      letter-spacing: normal;
      color: #000000;
      &:before{
        display: none;
      }
    }
    .input-block{
      max-width: 458px;
      width: 100%;
      display: flex;
      &-radio{
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #000000;
        margin-right:25px;
        display: flex;
        align-items: center;
        input {
          position: absolute;
          z-index: -1;
          opacity: 0;
          margin: 10px 0 0 20px;
        }
        input[type='radio']{
          opacity: 0;
          position: absolute;
          z-index: -1;
        }
        input[type='radio'] + label {
          position: relative;
          padding: 0 0 0 34px;
          cursor: pointer;
        }
        input[type='radio'] + label:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 18px;
          height: 18px;
          border-radius: 2px;
          background-color: #f2f2f2;
          border: solid 1px #979797;

        }
        input[type='radio']  + label:after {
          content: '\e928';
          color: #fff;
          font-size: 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 5px;
          font-family: 'icomoon';
          opacity: 0;

        }
        input[type='radio']:checked + label:before {
          background: #29508b;
          border-color: transparent;
        }
        input[type='radio']:checked + label:after {
          opacity: 1;
        }
      }
      &-input{
        border: solid 1px #979797;
        height: 42px;
        width: 100%;
        padding-left: 16px;
        border-radius: 0;
        background-color: transparent;
      }
    }
  }
  &-content{
    border-left: 1px solid #e4e4e4;
    padding-left: 30px;
    margin-bottom: 50px;
    min-height: auto !important;
    padding-bottom: 50px ;
    h2{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #000000;
      line-height: 35px;
      margin-top: 0;
      text-transform: uppercase;
      margin-bottom: 45px;
    }
    .btn-stl{
      display: block;
      line-height: 38px;
      position: relative;
      text-align: center;
      border: 2px solid #c2a773;
      background-color: #c2a773;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: #ffffff;
      cursor: pointer;
      transition: all .3s ease;
      width: 165px;
      height: 42px;
      border-radius: 4px;
      &:hover{
        background-color: #fff;
        color: #000;
      }
    }
  }
  &_lc{
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    color: #000;
    span:first-child{
      width: 100px;
      display: block;
    }
    li{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 15px;
    }
  }
}

.lc-menu{
  list-style: none;
  padding-left: 0;
  li{

    a{
      color: #29508b;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 35px;
      letter-spacing: normal;
    }
  }
}
.order-history{
  &-table{
    width: 100%;
    min-width: 650px;
    margin-bottom: 40px ;
    .btn-info{
      border: 2px solid #c2a773; 
      border-radius: 4px;
      background-color: #c2a773;
      color: #fff;
      text-align: left;
      position: relative;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      transition: all .3s ease;
      color: #ffffff;
      box-shadow: none;
      background-image: none;
      &:hover,&:focus:active,&:active{
        background-color: #fff;
        color: #000;
        border: 2px solid #c2a773;
      }
    }
    thead{
      tr{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #000000;
        height: 38px;
        background-color: #f2f2f2;
        border: solid 1px #f2f2f2;
      }
      td:first-child{
        padding-left: 16px;
      }
    }
    tfoot{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #000000;
      tr{
        height: 40px;
      }
    }
    tbody{
      tr{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #000000;
        height: 90px;
        border: solid 1px #f2f2f2;
        border-top: 0;
      }
      td:first-child{
        padding-left: 16px;
      }
    }
  }
}
.account-simpleregister .form-horizontal .form-group:first-child,.simpleregister-have-account,.account-forgotten p,.account-forgotten legend,.account-forgotten .btn-default{
  display: none;
}
.product-compare .btn-danger{
  border: 2px solid #dfdfdf;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #a3a3a3;
  cursor: pointer;
  background-image: none;
  text-transform: uppercase;
  transition: all .3s ease;
  text-shadow: none;
  box-shadow: none;
  &:hover{
    border-color: #c2a773;
    color: #000;
    box-shadow: none;
  }
  &:active:focus{
    border-color: #c2a773;
    color: #000;
    box-shadow: none;
    background-color: transparent;
  }
}
.product-brand-info ,.manufacturer-page ,.product-special{
  #content{
    padding-bottom: 45px;
  }

}
.account-simpleedit,.account-simpleregister,.account-forgotten{
  h1{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 35px;
    letter-spacing: 0.3px;
    color: #000000;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  .btn-stl{
    display: block;
    line-height: 38px;
    position: relative;
    text-align: center;
    border: 2px solid #c2a773;
    background-color: #c2a773;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s ease;
    width: 165px;
    height: 42px;
    border-radius: 4px;
    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
  #content{
    border-left: 1px solid #e4e4e4;
    padding-left: 30px;
    margin-bottom: 50px;
    min-height: auto !important;
    padding-bottom: 50px ;
  }
  .form-horizontal{
    .form-group {
      margin-right: 0;
      margin-left: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
        label{
          text-align: left;
          padding-left: 0;
          padding-top: 0;
          width: 193px;
          padding-right: 0;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 42px;
          letter-spacing: normal;
          color: #000000;
          &:before{
            display: none;
          }
        }
        input.form-control{
            border: solid 1px #979797;
            height: 42px;
          max-width: 458px;
          width: 100%;
            padding-left: 16px;
            border-radius: 0;
            background-color: transparent;
          }
        }
  }
  .simpleregister-block-content{
    margin: 0;
    padding: 0;
  }
}
.checkout-simplecheckout #simplecheckout_button_prev{
  display: none;
}
.mfilter-xs{
  display: none;
  margin-bottom: 8px;
  background-color: #29508b;
  border-radius: 4px;
  padding: 15px 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #fff;
  position: relative;
  &.active{
    i{
      transform: rotate(0deg);
    }
  }
  i{
    transition: all .3s ease;
    position: absolute;
    right: 21px;
    top: 20.5px;
    transform: rotate(-180deg);
    font-size: 9px;
  }
}

.page-search{
  position: relative;
  input{
    height: 36px;
    border-radius: 4px;
    border: solid 1px #c2a773;
    margin-bottom: 25px;
    width: 100%;
    padding-left: 16px;
  }
  button{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 19px;
    z-index: 2;
    padding: 0 10px;
    height: 36px;
    background-color: transparent;
    border: 0;
  }
}
.well{
  color: #000;
  h2{
    margin-bottom: 15px;
  }
  label{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  input[type="text"],input[type="password"]{
    width: 100%;
    border: solid 1px #979797;
    height: 42px;
    border-radius: 0;
    background-color: transparent;
  }
}
.product-compare{
  color: #000;
  .table-compare{
    width: 100%;
    overflow: auto;
  }
  thead{
    td{
      border-bottom: 1px solid #f2f2f2!important;
      background-color: #f2f2f2;
    }
  }
  tbody{
    a{
      color: #000;
    }
    td{
      min-width: 184px;
      &:first-child{
        min-width: auto;
      }
    }
  }
}
.product-name-tel{
  display: none;
  margin-top: 20px !important;
}
.form-groupss{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.check_box ,.radio{
  input[type="checkbox"],input[type="radio"]{
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }
  input + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal!important;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 2px;
  }
  input + label:before {
    content: '';
    position: absolute;
    top: 0px;
    display: block!important;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    border: solid 1px #979797;
    background-color: #f2f2f2;
  }
  input + label:after {
    content: ''!important;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #29508b;
    opacity: 0;
    transition: .2s;
  }
  input:checked + label:after {
    opacity: 1;
  }
}
.alert-main{
  position: fixed;
  background-color: #c2a773;
  z-index: 10;
  left: 15px;
  bottom: 15px;
  margin-bottom: 0;
  width: 250px;
  color:#fff;
  a{
    color: #fff;
    font-weight: bold;
  }
}
.newsletter-msg{
  position: absolute;
  bottom: -30px;
  left: 20px;
  color: #29508b;
}
.popups_log{
  .alert-danger{
    background-color: transparent;
    border: 0;
    margin-bottom: 0px;
  }
  .has-error{
    margin-bottom: 0;
  }
}

h5,h6,.text-style,.ful_articles{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  p{
    font-size: 16px;
  }
  ul{
    margin-bottom: 22px;
    padding-left: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 30px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 10px;
      &:after {
        content: '';
        top: 9px;
        left: 0;
        position: absolute;
        width: 7px;
        height: 7px;
        transform: rotate(-315deg);
        border: solid 1px #979797;
      }
    }
  }
  ol{
    margin-bottom: 22px;
    padding-left: 20px;
    li {
      position: relative;
      padding-left: 10px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
      margin-bottom: 10px;
    }
  }
}
