@media (min-width: 1199px){
  .product-special .product-layout.col-md-4,.product-brand-info .product-layout.col-md-4,.manufacturer-page .product-layout.col-md-4,.product-search .product-layout.col-md-4{
    width: 25%;
  }
}
@media (min-width: 991px){
  .top_bar-menu,.categories_menu-block,  .box-content.mfilter-content {
    display: block !important;
  }
}
@media (max-width: 1199px) and (min-width: 991px){
  .category-page,.account-wishlist{
    .product-layout .product-thumb .button-groups .cart {
      margin-bottom: 9px;
      margin-right: 24px;
    }
    .product-layout .product-thumb .button-groups {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .product-layout .product-thumb .button-groups .dop-prod {
      margin-right: 8px;
      margin-bottom: 9px;
    }
  }
}
@media (max-width: 1199px){
  .main-cart .simplecheckout-cart th.name {
    min-width: 230px;
  }
  .simple-check{
    .col-md-4,.col-md-8{
      width: 50%;
    }
  }
  .product-price_block .product-inf_new {
    width: 215px;
  }
  .product-review-list{
    padding-right: 30px;
  }
  .product-group_block-btn {
    min-width: 343px;
  }
  .payment_delivery{
    flex-direction: column;
    &-content{
      width: 100%;
      &:after{
        display: none;
      }
    }
  }
  .categories_menu-list li a{
    font-size: 10px;
  }
  .slider_home .item a{
    bottom: 30px;
    right: 140px;
  }
  .category_home ul li{
    width: 125px;
    height: 125px;
    a{
      font-size: 9px;
      line-height: 1.5;
      .category_home-img{
        height: 75px;
        img{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .header-email{
    margin-bottom: 30px;
  }
  .header-phone{
    width: 150px;
    margin: 8px auto 0;
  }
}
@media (max-width: 1024px){
  .simplecheckout-left-column {
    padding-right: 0!important;
  }
  .simplecheckout-right-column{
    padding-left: 0!important;
  }
}
@media (max-width: 991px){
  .product-info span {
    width: 125px;
  }
  .lc-menu {
    margin: 0 0 25px;
    li{
      display: inline-block;
      margin-right: 13px;
    }
  }
  .account-content{
    border-left: 0;
    padding-left: 15px;
  }
  .product .thumbnails li:first-child .thumbnail {
    height: 380px;
  }
  .product-group_block{
    align-items: flex-start;
  }
  .product-group_block-btn{
    flex-direction: column-reverse;
    min-width:auto;
    button{
      margin-bottom: 15px;
    }
  }
  .product-price_block{
    flex-direction: column;
    align-items: flex-start;
    .product-inf_new{
      margin-top: 15px;
      width: 100%;
    }
  }
  .product-group_btn .rating a {
    margin-left: 5px;
  }
  .specification_list li{
    width: 100%;
  }
  .product-review{
    padding-right: 0;
  }
  .product-layout{
    &.col-sm-6{
      width: 33.333%;
    }
  }
  .mfilter-xs{
    display: block;
  }
  .box-content.mfilter-content{
    display: none;
  }

  .slider_home .item a {
    bottom: 15px;
    right: 100px;
    line-height: 46px;
    width: 200px;
    height: 46px;
  }
  .category_home ul li {
    width: 96px;
    height: 96px;
    a{
      font-size: 7px;
      .category_home-img {
        height: 63px;
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
  .product-layout .product-thumb .button-groups{
    flex-wrap: wrap;
    justify-content: flex-start;
    .cart{
      margin-bottom: 9px;
      margin-right: 24px;
    }
    .dop-prod{
      margin-right: 8px;
      margin-bottom: 9px;
    }
  }
  .header-phone{
    width: auto;
  }

  .top_bar{
    height: 40px;

    .col-sm-2{
      position: static;
    }
    &-btn{
      display: block;
      width: 26px;
      height: 26px;
      margin-top: 11.5px;
      position: relative;
      &.active{
        span{
          position: absolute;
          top: 7px;
          left: 0;
          &:last-child{
            transform: rotate(45deg);
          }
          &:first-child{
            opacity: 0;
          }
          transform: rotate(-45deg);
        }
      }
      span{
        display: block;
        transition: all .3s ease;

        width: 26px;
        height: 3px;
        border-radius: 1.5px;
        background-color: #ffffff;
        margin-bottom: 4px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &-menu{
      display: none;
      width: 100%;
      left: 0;
      position: absolute;
      top: 40px;
      z-index: 10;
    }
    &-list{
      display: flex;
      background-color: #5a5a5a;
      flex-direction: column;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
      li{
        height: 46px;
        margin: 0;
        border-top: 1px solid #fff;
        a{
          padding-left: 26px;
          font-size: 18px;
          color: #ffffff;
          line-height: 40px;
        }
      }
    }
    &-logout{
      text-align: right;
      line-height: 40px;
    }
  }
  .categories_menu{
    &.fixed{
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      z-index: 11;
    }
    &-btn{
      display: block;
      width: 100%;
      font-size: 22px;
      font-weight: 600;
      color: #ffffff;
      line-height: 46px;
      text-transform: uppercase;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-span{
        display: block;
        width: 26px;
        height: 26px;
        margin-top: 11.5px;
        position: relative;
        &.active{
          span{
            position: absolute;
            top: 7px;
            left: 0;
            &:last-child{
              transform: rotate(45deg);
            }
            &:first-child{
              opacity: 0;
            }
            transform: rotate(-45deg);
          }
        }
        span{
          display: block;
          transition: all .3s ease;

          width: 26px;
          height: 3px;
          border-radius: 1.5px;
          background-color: #ffffff;
          margin-bottom: 4px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    &-list{
      flex-direction: column;
      height: auto;


      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
      &:after,&:before{
        display: none;
      }
      li{
        width: 100%;
        border-top: 2px solid #fff;
        &.dropdown.open{
          background-color: transparent;
        }
        a{
          height: 58px;
          padding: 10px 0 10px 25px;
          font-size: 18px;
          font-weight: 600;
          color: #ffffff;
          i{
            font-size: 11px;
            right: 30px;
          }
        }
        .dropdown-menu{
          position: relative;
          top: 0;
          width: 100%;
          li a{
            font-size: 14px;
            letter-spacing: 0.3px;
            color: #ffffff;
          }
        }
        &:after{
          display: none;
        }
      }
    }
    &-block{
      left: 0;
      display: none;
      background-color: #29508b;
      z-index: 11;
      position: absolute;
      width: 100%;

    }
  }
  .account-simpleedit #content, .account-simpleregister #content, .account-forgotten #content{
    padding-left: 15px;
    border-left: 0;
  }
  .order-history{
    width: 100%;
    overflow: auto;
  }
  .simplecheckout-button-left{
    display: flex!important;
  }
}

@media (max-width: 767px){
  .categories_menu.open{
    height: 100%;
    overflow-y: auto;
  }
  .account-simpleedit .form-horizontal .form-group label, .account-simpleregister .form-horizontal .form-group label, .account-forgotten .form-horizontal .form-group label{
    padding-left: 15px;
  }
  .account-simpleedit .form-horizontal .form-group, .account-simpleregister .form-horizontal .form-group, .account-forgotten .form-horizontal .form-group{
    flex-direction: column;
  }
  .categories_menu{
    margin-bottom: 25px;
  }
  .categories_menu-list{
    box-shadow: none;
  }
  .product-name{
    display: none;
  }
  .product-name-tel{
    display: block;
  }
  .breadcrumb{
    display: none;
  }
  .slider_home .slider_home-prev, .slider_home .slider_home-next{
    display: none!important;
  }
  .simplecheckout-cart col.image, .simplecheckout-cart th.image, .simplecheckout-cart td.image{
    display: table-cell!important;
  }
  .main-cart .simplecheckout-cart th.image{
    min-width: 130px;
  }
  .account-simpleedit .col-sm-9{
    width: 100%;
    .form-group {
      label{
        max-width: 193px;
        width: 100%;
      }
      .col-sm-10{
        width: 100%;
      }
    }
  }
  .product-review{
    flex-direction: column;
    .product-review-list{
      padding-right: 0;
    }
  }
  .product-layout.col-xs-6{
    width: 50%;
  }
  .page_contact-map{
    height: 250px;
  }
  .page_contact-info{
    padding: 25px 0;
  }
  .slider_home .item a{
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .product-layout .product-thumb .button-groups{
    .cart{
      margin-right: 10px;
    }
    .dop-prod{
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .category_home{
    display: none;
  }
  #logo img,.footer-logo img{
    margin: auto;
  }
  #logo.active{
    opacity: 0;
  }
  .footer-info p{
    margin-top: 15px;
    text-align: center;
  }
  .footer-phone{
    align-items: center;
  }
  .footer-social{
    justify-content: center;
    margin-bottom: 35px;
    a:last-child{
      margin-right: 0;
    }
  }
  .header #search{
    position: absolute;
    top: -64px;
    right: 0;
    padding: 0 15px;
    width: 69px;
    color: #fff;
    transition: width .5s ease;
    &.active{
      width: 100%;
      &:after{
        display: none;
      }
    }
    &:after{
      position: absolute;
      width: 39px;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 36px;
      z-index: 10;
      content: '';
    }
    input::-webkit-input-placeholder{
      color: #fff;
    }
    button{
      right: 15px;
    }
  }
  .mail_callback{
    display: none;
  }

}
@media (max-width: 600px){
  .main_cart_btn input{
    width: 100%;
  }
  .product-thumb .caption,.product-layout .product-thumb .button-groups{
    width: 240px;
    margin: auto  ;
  }
  .account-form-group{
    flex-direction: column;
  }
  .simplecheckout-cart-total span:nth-child(1){
    left: 0!important;
  }
  .main-cart .simplecheckout-cart-total{
    width: 100%;
  }
  .simplecheckout-button-left{
    flex-direction: column-reverse;
    align-items: flex-end;

  }
  .main_cart_btn a{
    margin-right: 0 !important;
    margin-top: 20px;
    width: 240px!important;
  }

  .account-simpleedit{
    .form-horizontal{
      .form-group{
        flex-direction: column;
        .col-sm-10{
          padding: 0;
        }
      }
    }

  }
  .specification_list li {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
    flex-direction: column;
    &:last-child{
      border-bottom: 0;
    }
  }
  .product-tabs .tab-content{
    padding: 0 15px;
  }
  .specification_list-name,.specification_list-txt{
    font-size: 14px;
    width: 100%;
  }
  .product-tabs .nav-tabs li{
    margin: 0 4px;
  }
  .catalog-options{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px 16px;
    height: 80px;
  }
  .product-layout.col-xs-6{
    width: 100%;
  }
  .copyright .containers {
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
    padding: 10px 15px;
    text-align: center;
  }
  .newsletter {
    background-color: #f2f2f2;
    padding: 31px 0 31px;
    &-form{
      flex-direction: column;
    }
  }
  h3{
    font-size: 18px;
    line-height: 24px;
  }
  h3 br{
    display: block;
  }
  .buying_easy ul{
    flex-direction: column;
    align-items: center;
    li{
      margin-bottom: 50px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .header{
    &-cart{
      margin-top: 16px;
    }
    &-wish {
      justify-content: space-around;
      a{
        font-size: 18px;
        i.icon-i-heart{
          font-size: 26px;
        }
        i.icon-i-scale{
          font-size: 22px;
        }
      }
    }
    .col-xs-4{
      width: 50%;
      &:last-child{
        width: 100%;
      }
    }
  }
}
@media (max-width: 425px){
  .product-review-buttons button{
    display: block;
    margin: auto;
  }
  .main_cart_btn{
    float: none!important;
    margin: 40px auto 0;
    width: 240px;
    width: 240px;
  }

  .checkout-simplecheckout .simplecheckout-button-block{
    padding-left: 0!important;
  }
  .lc-menu {
    li{
      display: block;
    }
  }
  .modal-dialog{
    width: 100%;
    padding: 0 15px;
  }
  .popups_log-header ul li {
    margin: 0px 8px;
  }
  .product-group_btn{
    flex-direction: column;
    .rating{
      margin-bottom:15px ;
    }
  }
  .product-tabs .nav-tabs li a {
    font-size: 10px;
    padding: 21px 8px 15px;
  }
  .product-review-input {
    flex-direction: column;
    align-items: flex-start;
  }
  #logo img{
    width: 127px;
  }
  .header #search {
    position: absolute;
    top: -51px;
  }
  .header-phone a {
    font-size: 10px;
    line-height: 18px;
  }
  .header-work_time {
    font-size: 11px;
  }
  .header-email {
    margin-bottom: 2px;
  }

  .featured-slider .featured-prev,.featured-slider .featured-next,.bestseller-slider .bestseller-prev,.bestseller-slider .bestseller-next,.testimonial_home .testimonial_home-prev,.testimonial_home .testimonial_home-next{
    line-height: 18px;
    font-size: 7px;
    width: 20px;
    top: -92px;
    height: 20px;
  }
  .our_articles .our_articles-prev,.our_articles .our_articles-next {
    line-height: 20px;
    font-size: 7px;
    width: 20px;
    height: 20px;
  }
  .featured-slider .featured-prev,.bestseller-slider .bestseller-prev,.testimonial_home .testimonial_home-prev,.our_articles .our_articles-prev{
    right: 35px;
  }

  .our_articles-img {
    height: 100px;
  }
  .footer{
    .col-xs-4{
      width:50% ;
      &:last-child{
        width: 100%;
      }
    }
  }
}