#popup-purchase-wrapper {
    background: #fff;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    min-height: 100px;
    position: relative;
    color: #000;
}
#popup-purchase-wrapper .popup-heading {
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 51px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
}
#popup-purchase-wrapper .mfp-close {
    position: absolute;
    top: 5px;
    right: 13px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
}
#popup-purchase-wrapper .mfp-close:hover {
    background-position: 0 -60px;
}
#popup-purchase-wrapper .popup-footer {
    padding: 17px 25px 17px 25px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
#popup-purchase-wrapper .popup-footer .popup-footer-btn {
    border: 2px solid #dfdfdf;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #a3a3a3;
    cursor: pointer;
    background-image: none;
    text-transform: uppercase;
    transition: all .3s ease;
    width: max-content;
    height: 42px;
    border-radius: 4px;
}
#popup-purchase-wrapper .popup-footer .btn-primary{
    margin: auto;
}
#popup-purchase-wrapper .popup-footer button:hover {
    background-color: #29508b;
    color: #fff;
    border-color: #29508b;
}
#popup-purchase-wrapper .popup-footer a {
    float: right;
    background-image: none;
    cursor: pointer;
    border: 2px solid #c2a773;
    text-transform: uppercase;
    width: max-content;
    height: 42px;
    border-radius: 4px;
    background-color: #c2a773;
    color: #fff;
    line-height: 38px;
    padding: 0px 12px;
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all .3s ease;
    color: #ffffff;
    box-shadow: none;
}
#popup-purchase-wrapper .popup-footer #popup-checkout-none {
    opacity: 0.5;
    background: #F64747;
    border: 1px solid #D64541;
}
#popup-purchase-wrapper .popup-footer #popup-checkout-none:hover {
    background: #F64747;
    cursor: not-allowed;
}
#popup-purchase-wrapper .popup-footer a:hover {
    background-color: #fff;
    color: #000;
}
#popup-purchase-wrapper .popup-center {
    background: #fff;
    padding: 40px 30px 30px;
    overflow: auto;
}
#popup-purchase-wrapper .left {
    float: left;
    width: 60%;
}
#popup-purchase-wrapper .right {
    float: right;
}
#popup-purchase-wrapper .right img {
}
#popup-purchase-wrapper .right .sub-images {
    display: block;
    text-align: center;
    margin-top: 10px;
}
#popup-purchase-wrapper .right .sub-images > span label {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #bbb;
    display: inline-block;
}
#popup-purchase-wrapper .right .sub-images input {
    display: none;
}
#popup-purchase-wrapper .right .sub-images input[type=radio]:checked + label {
    background: #e5e5e5;
}
#popup-purchase-wrapper .right .sub-images > span + span {
    margin-left: 5px;
}
#popup-purchase-wrapper .right .sub-images > span label:hover {
    cursor: pointer;
    background: #e5e5e5;
}
#popup-purchase-wrapper .product-name {
    font-size: 18px;
    margin-bottom: 15px;
}
#popup-purchase-wrapper .product-price span{
    font-size: 15px;
    color: #29508b;
}
#popup-purchase-wrapper .product-description {
    max-height: 120px;
    overflow-y: auto;
    margin: 15px 0;
}
#popup-purchase-wrapper .payment-info {
    clear: both;
}
#popup-purchase-wrapper .info-heading {
    font-size: 15px;
    display: block;
    color: #000;
    text-align: left;
}
#popup-purchase-wrapper .info-heading-2 {
    font-size: 15px;
    display: block;
    color: #000;
    text-align: left;
    margin: 5px 0 10px 0;
}
#popup-purchase-wrapper .payment-info > div {
    width: 100%;
    display: inline-block;
}
#popup-purchase-wrapper .payment-info > div + div {
    margin-top: 10px;
}
#popup-purchase-wrapper .payment-info > div label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
#popup-purchase-wrapper .payment-info > div label span {
    color: #f00;
}
#popup-purchase-wrapper .payment-info > div input, #popup-purchase-wrapper .payment-info > div textarea {
    width: 100%;
    border: solid 1px #979797;
    height: 42px;
    border-radius: 0;
    background-color: transparent;
    padding-left: 16px;
}
#popup-purchase-wrapper .payment-info > div textarea {
    min-height: 70px;
    resize: vertical;
}
.payment-quantity {
    position: relative;
    display: flex;
    flex-direction: column;

}
.payment-quantity label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 10px;
}
.payment-quantity .number {
    width: 97px;
    position: relative;
}
.payment-quantity .frame-change-count {
    width: 116px;
}
.payment-quantity .btn-plus button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border: 0;
    outline: none;
    text-align: center;
    line-height: 0;
}
.payment-quantity .btn-minus button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border: 0;
    outline: none;
    text-align: center;
}
.payment-quantity .btn-minus button span {
    width: 14px;
    height: 2px;

    background-position: -20px 0px;
    display: inline-block;
}
.payment-quantity .btn-plus button span {
    width: 14px;
    height: 14px;

    background-position: 0 0px;
    display: inline-block;
}
.payment-quantity .btn-plus {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    line-height: 42px;
    right: 0;

}
.payment-quantity .btn-minus {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    line-height: 42px;
    left: 0;

}
.payment-quantity input.plus-minus {
    height: 42px;
    border: solid 1px #979797;
    text-align: center;
    font-size: 16px !important;
    letter-spacing: 0.3px;
    color: #000000;
    width: 100%;
}
.masked {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #eee;
    opacity: 0.4;
    left: 0;
    top: 0;
}
.masked_loading {
    background: url(ring-alt.svg) no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10001;
    top: 0;
    left: 0;
}
.popup-purchase-button {
    text-align: center;
    display: none;
}
.popup-purchase-button button {
    width: 100% !important;
}
@media (min-width: 320px) and (max-width: 532px) {
    #popup-purchase-wrapper .popup-heading {
        font-size: 14px;
    }
    #popup-purchase-wrapper .popup-footer button {
        width: 100%;
    }
    #popup-purchase-wrapper .popup-footer a,.popup-footer-btn {
        width: 100%!important;
        margin-top: 5px;
        text-align: center;
    }
    #popup-purchase-wrapper .right {
        width: 100%;
        text-align: center;
    }
    #popup-purchase-wrapper .left {
        width: 100%;
    }
}